[2016-02-09 16:50] kacole2 opened #288 "referenceable names to anonymous volumes"
I looked through the code on REX-Ray as well as the `volume` subfolder within the docker engine and didn't see where the unique name is generated for anonymous volumes. Assuming the `rand` library is used somewhere.

With Docker 1.10, an anonymous volume is created on the storage endpoint with a random string as seen here:
![](https://emccode.files.wordpress.com/2016/02/docker-volume-autocreate.pn

[2016-02-09 18:32] clintonskitson commented on #288
Great idea. The volume name that we create us based from what Docker sends
us, to RR we are unaware that it is an anonymous volume.

It sounds like characteristics about the last container to use the volume
are what you're looking for.  Today with the API, the information isn't
passed to RR by docker.

The challenge that we also face of info was presented is how to properly
store it.  You highligh

[2016-02-09 18:37] kacole2 commented on #288
sounds good. want me to close and open up under LibStorage with a roadmap feature tag?

[2016-02-09 18:40] clintonskitson commented on #288
Nope good here.. The roadmap tag would be good.

On Tuesday, February 9, 2016, Kendrick Coleman <notifications@github.com>
wrote:

[2016-02-11 10:49] echupriyanov opened #290 "ec2 volume tagging/filtering"
I don’t know if it is intended behavior, but running in AWS rexray volume get lists ALL created volumes, including root volumes of EC2 instances. And given that EC2 instance volumes don’t have a name by default, docker volume ls output looks pretty weird listing lots of emptynamed volumes with rexray driver.

One possible suggestion to that issues could be to create volumes with rexray-specific ta

[2016-02-11 11:02] clintonskitson commented on #290
Great point.  Docker works with volumes by name, so I believe the minimum requirement to show volumes should be that the volume at least has a name.  This actually should be valid across all storage drivers as well.

We have thrown around the idea of universally being able to provide a form of tenancy or control of the visibility without having a persistent layer to save the proper volume identifi

[2016-02-11 21:34] byrnedo opened #291 "Too many open files"
Getting the following, goes away when I restart.

2016/02/11 21:32:46 http: Accept error: accept unix /run/docker/plugins/rexray-remote.sock: accept4: too many open files; retrying in 1s
2016/02/11 21:32:47 http: Accept error: accept unix /run/docker/plugins/rexray.sock: accept4: too many open files; retrying in 1s

Will ulimit help me fix this?

[2016-02-11 21:59] clintonskitson commented on #291
@byrnedo Can you discuss which storage driver is being used?

It would be great to get a count or see the list via `lsof` at some point before you get that error.

[code]

[2016-02-11 22:15] byrnedo commented on #291
Sorry, it's ec2, I updated the title.

`lsof -a -i` : http://pastebin.com/5eVxnXq7
`lsof -a -U` : http://pastebin.com/42Xsn8Vs
`lsof|wc -l` : 20588

[2016-02-11 22:18] clintonskitson opened #292 "Add caching for Docker Path() operations"
With the Docker 1.10.0 release there was the introduction of a List() operation to show all volumes that exist through a volume driver.

A by product of that was discovered where all volumes that were not already mounted would also have a subsequent Path() operation occur.  This would cause delay in the `docker volume ls` command.

The following PR did not make it into 1.10.1.  Will work on the ca

[2016-02-11 22:43] clintonskitson commented on #291
What version of docker and rexray?

On Thursday, February 11, 2016, Donal Byrne <notifications@github.com>
wrote:

[2016-02-11 22:45] byrnedo commented on #291
Docker 1.10
Rexray 0.3.1

[2016-02-11 23:36] clintonskitson commented on #291
Do you know how long it takes to run into this situation after the service is started?

[2016-02-12 07:52] byrnedo commented on #291
I had been testing with about 2/3 volumes on 2 aws machines running docker swarm. After about 20 minutes I started getting that in my ssh terminal.

Initially I had gotten errors when the volumes had been created in a different availability zone.

[2016-02-12 08:06] clintonskitson commented on #291
Can you try increasing the open file limits and see if that addresses the
problem?  I do see that there is a decent amount of open files from docker
as well so it might just be a limit problem versus something that increases
over time.

Looking further into it here as well.

On Friday, February 12, 2016, Donal Byrne <notifications@github.com> wrote:

[2016-02-12 08:23] clintonskitson opened #293 "Incorrectly states status when process is not running with existing pid file"
If REX-Ray is killed with a `-9` the process stops but the `/var/run/rexray/rexray.pid`still exists.  This is expected behavior.  If you issue a `rexray service status` or do the same using a init service it incorrectly will still show REX-Ray as running.  I believe the behavior should be to perform the same logic as addressed in https://github.com/emccode/rexray/pull/262.

[code]

[2016-02-12 12:27] byrnedo commented on #291
Going to wait until I see it again and will then increase the limit like you say.

[2016-02-12 12:42] clintonskitson opened #294 "Perform YAML validation of config files"
I have had YAML formatting problems numerous times that resulted in the storage driver not starting correctly.  Troubleshooting was able to narrow it down to invalid characters etc in the YAML files.

It would help the user experience a lot when configuring new and more complex drivers to perform a basic validation of the config.yml file prior to attempting a service start with it.

[2016-02-12 15:53] clintonskitson opened #295 "Reporting module name in log"
With the introduction of the modules, it has introduced a necessary context that should be tracked in the logs.  Right now, when requests come in you can't differentiate with module or storage provider is responding to the request.

This log was generated from a single `docker` instance talking with three volume endpoints that are all pointing to the same storage platform.

I believe this is part

[2016-02-12 21:53] akutz commented on #294
Hi @clintonskitson,

I agree this is a good idea, and I've even looked into it in the past, but Viper has always failed gracefully, ignoring bad content, when loading files. To that end I've just submitted a [PR to Gofig](https://github.com/akutz/gofig/pull/6) that can be used to validate YAML. See the test [TestValidateYAML](https://github.com/akutz/gofig/blob/master/gofig_test.go#L137).

[2016-02-12 22:07] clintonskitson commented on #294
Very nice @akutz.  I just did some basic testing with it and it is going to help a lot.  The package looks to be pretty verbose with errors.  Maybe we should add in a brief blurb into the docs in the configuration section about taking the config to yamllint.com if there are errors in their configs.

[code]

[2016-02-12 22:09] akutz commented on #294
Hi @clintonskitson,

Well, I'm not controlling content of said errors. To what type of verbosity are you referring? Also, I had no intention of necessarily printing out the direct errors. We could always catch the error and print out to the user that they should take the YAML and submit it to yamllint.com themselves. We can't expect to have network access to do it programmatically, but we can let

[2016-02-12 22:11] clintonskitson commented on #294
Yah exactly.  I was actually just thinking about calling it out with a couple of sentences in the docs themselves.  But an explicit comment to verify it online or with a lint would work as well.

What would be your concern with repeating the errors that YAML returns?

[2016-02-12 22:14] akutz commented on #294
I have no such concern; from your comments above it seemed you did regarding the errors' verbosity.

[2016-02-12 22:15] clintonskitson commented on #294
Nope, I believe they would be very helpful for people configuring the service.

[2016-02-12 22:17] akutz commented on #294
The declaration of verbosity followed by a recommendation seems to me to indicate "Because it does this, we should do that as a counter/enhancement."

Just a case of intent and tone lost in text communication :)

[2016-02-12 22:18] akutz commented on #295
Hi @clintonskitson,

I opened a PR where I implemented a short-term fix for this.

[2016-02-12 22:21] clintonskitson commented on #294
Yeah, I missed the "I like this" part. =)

[2016-02-16 22:00] sayash opened #297 "Unable to build using the Docker method"
Trying to build rexray from source using the Docker method with the following commands:

[code]
Make fails with the errors as shown here at [pastebin](http://pastebin.com/raw/GVp7CUCa)

Maybe head isn't in a build-able state?

[2016-02-16 22:03] akutz commented on #297
Hmmm, try:

[code]

I think [this line](https://github.com/emccode/rexray/blob/master/Makefile#L20) should be changed to `export GO15VENDOREXPERIMENT=1`. It's a small, but subtle difference that might determine if the variable actually gets exported from Make's environment.

[2016-02-17 10:03] HackToday commented on #180
hi @clintonskitson  any in progress for this issue ?  I did not find docker side confirmation what's the root cause for this

[2016-02-17 10:26] rvalkenaers opened #298 "EC2: add support for encrypted volumes"
It would be nice if we could create encrypted volumes. It shouldn't be too hard as https://github.com/mitchellh/goamz already supports this.

[2016-02-17 16:00] clintonskitson commented on #298
@rienvalkenaers Thank you for the request. We use https://github.com/goamz/goamz which does not include the encrypted support yet, they are similar packages though so porting wouldn't be a problem. We need to investigate this further to figure out where it would fit in the model since today we specify `volumeType`, `IOPS`, and `availabilityZone` for volumes. It would seem to make sense to declare

[2016-02-17 16:02] clintonskitson commented on #180
@HackToday I saw that thread as well. I haven't been able to test it with the patch/ver commit specified. If you get a chance to let us know! It is on the list

[2016-02-18 00:31] HackToday commented on #180
hi @clintonskitson  what patch do you think fix the issue ? I did not get it.

[2016-02-18 02:36] HackToday commented on #180
I think it is needed fix, the won't fix not make for consumer especially it is security issue

[2016-02-18 13:30] rhatdan commented on #180
Where do I get rexray so I can try this out and see what is going on from an SELinux issue?  Is the source available?

[2016-02-18 14:30] HackToday commented on #180
hi @rhatdan  I am not sure if familiar with Openstack or EC2. If you have some environment, You could try follow this:

http://rexray.readthedocs.org/en/stable/user-guide/installation/

and

EC2: http://rexray.readthedocs.org/en/stable/user-guide/storage-providers/ec2/
Openstack: http://rexray.readthedocs.org/en/stable/user-guide/storage-providers/openstack/

I used Openstack. You could also try v

[2016-02-18 15:21] spiegela opened #299 "Unable to create volume using docker volume plugin"
I've tested RexRay RC2 against
[code]

The RexRay debug log from this execution is the following:
[code]

Some host details:

[code]

[code]

[code]

[2016-02-18 16:46] clintonskitson opened #300 "Authentication token expiration causes Unauthorized response with ScaleIO"
When REX-Ray is running as a service, the authentication token is reused for subsequent calls to SIO. If the token expires, then a retry of authorization should be attempted before failing.

[code]

It looks like there has been a change to the SIO API which prevents us from properly handling the situation. This can be simulate by restarting the SIO gateway without restarting REX-Ray.

[2016-02-18 18:36] clintonskitson commented on #299
This is with the XtremIO driver correct?

On Thursday, February 18, 2016, Aaron Spiegel <notifications@github.com>
wrote:

[2016-02-18 18:44] akamalov opened #301 "rexray.sock/Plugin.Activate: dial unix /run/docker/plugins/rexray.sock: connect: no such file or directory."
**Environment:**
[code]
**REX-Ray version:**
[code]
**Docker version:**
[code]
Getting a peculiar problem. Trying to run a simple test using REX-Ray:
[code]

Anyone encountered this type of an issue ?

Thanks!!!

Alex

[2016-02-18 18:47] clintonskitson commented on #301
Check the spec file in /etc/docker/plugins for rexray. It looks like the
path may be wrong? You can actually remove that spec file since the socket
file is also in a location that docker checks.

I am also assuming rexray is running right?

On Thursday, February 18, 2016, akamalov <notifications@github.com> wrote:

[2016-02-18 18:47] akamalov commented on #301
To elaborate further. I was able to get this thing up and running after doing the following:

1. Stop docker service
2. Restart REX-Ray
3. Start docker service

Odd...

[2016-02-18 18:48] akamalov commented on #301
Clint, you're so quick!!

[2016-02-18 18:50] akamalov commented on #301
Here is the rundown:

[code]

[2016-02-18 18:51] clintonskitson commented on #301
That all looks normal to me.

On Thursday, February 18, 2016, akamalov <notifications@github.com> wrote:

[2016-02-18 18:56] akamalov commented on #301
Normal, as in REX-Ray service must precede Docker ?

[2016-02-18 19:05] clintonskitson commented on #301
Ahh I see the question. When containers attach to a volume ahead of time
then yes. When docker strays it will try and reassociate/lookup existing
volumes that it knows about (from container inventory). If RR isn't running
then it will complain about not being able to find the plugin.

On Thursday, February 18, 2016, akamalov <notifications@github.com> wrote:

[2016-02-18 19:17] akamalov commented on #301
Thanks Clint

[2016-02-18 19:18] #301 closed

[2016-02-18 19:26] akamalov opened #302 "Device dev-disk-by ... appeared twice with different sysfs paths"
Deploying a sample Mesos/Docker application:

**mariadb.json**

[code]

I was able to deploy this without a problem before. Environment hasn't changed. Now create is failing with the following in the log:

[code]

I am running multipathd.

I also have noticed couple of times (when deploying "tutum/mysql") the same error as https://github.com/emccode/rexray/issues/17

Thanks Clint!!

Alex

[2016-02-18 19:29] clintonskitson commented on #302
I just posted an issue the SIO for expired tokens and authentication
problems.  If you review the Docker logs it will likely show a plugin
error. Working on the fix the 0.3.2-RC3.

It looks to be a regression based on some API changes in SIO.

On Thursday, February 18, 2016, akamalov <notifications@github.com> wrote:

[2016-02-18 19:46] akamalov commented on #302
Clint your answer, is it pertaining error of "Device dev-disk-by ... appeared twice" or the one with limitation on 31 characters ?

[2016-02-18 19:50] clintonskitson commented on #302
My apologies, scanned that from my phone. There was a part that referenced
not being able to lookup an image name and hen Docker not running the
container which is what I was referring to with my reply.

Looking closer at what you pointed out, this looks to be related to the
graph driver and device mapper itself, meaning the layered container file
system and not the external volumes. I should be a

[2016-02-18 20:09] akamalov commented on #302
You're right. For some reason I just cannot deploy mysql or mariadb containers even when I am not referencing external volumes. I amable to deploy nginx without a problem. Mesos is also not honoring constraint to deploy on a specific host :(

[2016-02-18 20:49] akamalov commented on #302
Restarted mesos-master. it's now honoring constraints.

[2016-02-18 20:54] clintonskitson commented on #302
Ok, yeah ignore my previous comment.  The `dm` errors are related to device-mapper and nothing specific to external volumes.

[2016-02-18 21:01] akamalov commented on #302
I am still getting 31 char limitation errors and failing to create a volume:

[code]

[2016-02-18 21:13] clintonskitson commented on #302
Check the documentation here regarding the VOLUME declaration in the Dockerfiles http://emccode.github.io/rexray/user-guide/application/

Docker is trying to create an anonymous volume with a generalized GUID since there is not a volume being declared for all defined `VOLUME` parameters listed.

Here is the original "bug" for that. In the short term, ensuring that all volumes are declared with `-v

[2016-02-18 22:22] clintonskitson commented on #302
@akamalov I have a fix inbound that should make it into 0.3.2-RC3 for this.

You can see here that we remove characters beyond 31 for volume names. This enables the container you mentioned to run and then natively create anonymous external volumes. The problem was introduced because of a change in Docker 1.10 the brought back in these types of volumes versus just using local volumes for unconfigur

[2016-02-18 22:24] spiegela commented on #299
Yes, that's right. When I get back on my laptop, I'll add the rexray configuration as well.

Thanks,

-Aaron

On Feb 18, 2016, 12:36 PM -0600, Clinton Kitson<notifications@github.com>, wrote:

[2016-02-18 22:33] clintonskitson commented on #302
PR https://github.com/emccode/rexray/pull/304

[2016-02-18 22:33] clintonskitson commented on #300
PR https://github.com/emccode/rexray/pull/303

[2016-02-18 23:09] akamalov commented on #302
Awesome! Thanks so much Clint. <nervously looking at clock> Are you done
yet ?? :)

Alex

On Thu, Feb 18, 2016 at 5:22 PM, Clinton Kitson <notifications@github.com>
wrote:

[2016-02-18 23:10] clintonskitson commented on #302
We are going to try and cut the RC3 tomorrow, but yeah the PR is set for merge.

[2016-02-18 23:22] akamalov commented on #302
Super!! Thanks again!

Alex

On Thu, Feb 18, 2016 at 6:10 PM, Clinton Kitson <notifications@github.com>
wrote:

[2016-02-19 05:30] clintonskitson commented on #295
https://github.com/emccode/rexray/pull/296

[2016-02-19 05:30] #295 closed

[2016-02-19 05:31] clintonskitson commented on #294
@akutz Is this something we are comfortable with introducing into 0.3.2?

[2016-02-19 05:32] clintonskitson commented on #293
@akutz Can you look at this one for 0.3.2?

[2016-02-19 05:32] clintonskitson commented on #292
https://github.com/emccode/rexray/pull/306

[2016-02-19 05:32] #292 closed

[2016-02-19 05:33] #280 closed

[2016-02-19 05:33] #281 closed

[2016-02-19 05:33] #282 closed

[2016-02-19 06:46] clintonskitson commented on #299
https://github.com/emccode/rexray/pull/307

[2016-02-19 18:51] akutz commented on #293
Hi @clintonskitson,

Sure thing. I agree that this should behave the way you described and that it's related to #262. Looks like I missed this. Well, it wasn't directly a part of the original issue, but certainly related.

[2016-02-20 00:09] #293 closed

[2016-02-22 21:03] echupriyanov commented on #290
I think it is possible to take both approaches here (add a name prefix and use tags on EC2 volumes).

I did a quick proof of concept, adding additional tag to Volumes, created by Rexray and filter in getVolume function in ec2 driver.

Situation with volume list is much better now.

But playing around with Swarm (the main reason to use "movable" volumes for me), I've run into another issue:
docker

[2016-02-23 01:52] clintonskitson commented on #290
Thank you for the feedback. The "blank" volume issue was patched in this PR https://github.com/emccode/rexray/pull/306.

The `docker volume create` command should only result from `Get` requests that have no results (implicit create) when issuing a `docker run` or by directly issuing a `docker volume create`. A volume plugin at the swarm level is in the works which is essentially the real fix.

In

[2016-02-23 11:27] akamalov commented on #302
Morning Clint,

Any word when 0.3.2 will be released ?

Thanks!!!

Alex

[2016-02-23 16:45] clintonskitson commented on #302
@akamalov Outstanding PR's were merged yesterday, so we are looking at today for the RC3 and release this week for 0.3.2.

[2016-02-23 17:04] HackToday commented on #180
@rhatdan are you working on this ?

and also @clintonskitson  does coreos have such limitation?  if atomic can not have such issue sovled, we could move to coreos.

But if all have issues, I think it may impact others to adopt rexray. As they think it is criticail security issue.

[2016-02-23 17:48] akamalov commented on #302
Thanks Clint!

[2016-02-23 19:16] clintonskitson commented on #302
@akamalov RC3 has been released! Make sure to remove the previous package if you were using an RC before!

https://dl.bintray.com/emccode/rexray/staged/0.3.2-rc3/rexray-Linux-x86_64-0.3.2-rc3.tar.gz
curl -sSL https://dl.bintray.com/emccode/rexray/install | sh -s staged

[2016-02-23 19:17] clintonskitson commented on #300
https://github.com/emccode/rexray/pull/303

[2016-02-23 19:17] #300 closed

[2016-02-23 19:18] clintonskitson commented on #299
@spiegela Please give RC3 a try and let us know if it fixes your issue!

[2016-02-23 19:19] clintonskitson commented on #290
@echupriyanov Would love to get your feedback from RC3 for the blank volume issue.

[2016-02-23 19:30] rhatdan commented on #180
@HackToday Please contact me at dwalsh@redhat.com, and we can work this through.

[2016-02-23 19:51] #294 closed

[2016-02-23 20:54] akamalov commented on #302
Thanks Clint. Installing...

[2016-02-24 12:18] akamalov commented on #302
**Installed 0.3.2RC3:**

[code]

**Stopped Docker service**
Started REX-Ray. Verified that REX-Ray driver plugin has created a socket and ready:

[code]
**Started Docker service**

**Attempt to create a volume using 'docker volume create' command:**

Getting error creating volumes creating from a docker, Clint. Here is the output:

[code]
**System log entries:**

[code]
I do not have a problem cre

[2016-02-24 14:43] echupriyanov commented on #290
I’ve tried RC3. Its slightly better - I don’t see «empty» volumes in `docker volume ls`. But still when I do `rexray volume` I see all volumes present in my AWS account. Same goes to snapshots.

Really, I not only don’t want to see all my volumes in docker, but also would like not to see them in RexRay at all.

So I have implemented EC2 tagging in ec2 driver and created a PR https://github.com/emc

[2016-02-24 15:57] echupriyanov commented on #291
Some details on this issue:
[code]
Swarm is version 1.1.2
[code]
Here is lsof with no volume driver started:
[code]
Now start volume driver and check number of open sockets every 1 minute:
[code]
So 600+ leaked files in 30 minutes.
I’m not sure whom to blame here, but I suspect docker volume plugin system leaks connection to volume driver on each call.

[2016-02-24 16:54] wallnerryan commented on #291
if you watch the `swarm agent` logs at the same time you watching the `.sock` they correlate.

Notice the `1m0s`
[code]

[2016-02-24 16:55] clintonskitson opened #315 "Docker fails to run container with "No volumes returned by name""
With Docker 1.10 & REX-Ray 0.3.2 this issue is not valid.

There was previously an issue where Docker would maintain the state of volumes that it had been associated with prior. This means that if you do a `docker run` with volumes, then any proceeding `docker volume ls` would result in seeing any previous volumes.

The problem is that the list may be out of sync with the backend storage platform.

[2016-02-24 17:03] echupriyanov commented on #291
I suppose the call chain is swarm -> docker -> volume driver
And though its swarm who makes the call, leak itself happens in docker engine. I’ll try to look into DE code how it really works.

[2016-02-24 18:04] clintonskitson commented on #302
@akamalov Thanks for the detailed info.  Can you enable logging, and rerun the commands?

[code]

[2016-02-24 18:05] clintonskitson commented on #302
Also which version of Docker are you using? My testing was with 1.10.1, but I will step back to 1.9 to verify.

[2016-02-24 18:17] clintonskitson commented on #302
We updated the headers which makes testing invalid with 1.9, but I did test all versions of 1.10 and am not able to reproduce using 0.3.2-RC3.

[2016-02-24 18:27] clintonskitson opened #316 "Fails to start as service using modules and one default module config"
In testing the 0.3.2-RC3 I ran into an issue relating to the compatibility of the module based configuration if only specifying a single module. A failed start would result from this.

@akutz Is this expected behavior?

[code]

This configuration does not work for a single module. I previously had two defined, and just removed one for ancillary testing purposes. But I could see this situation occu

[2016-02-24 18:35] akamalov commented on #302
Clint, I am using 1.10.

[2016-02-24 18:35] akamalov commented on #302
I can upgrade 1.10.1 if you wish

[2016-02-24 18:36] clintonskitson commented on #302
It shouldn't impact it. I am more curious about the detailed logs at this point.

[2016-02-24 18:36] akutz commented on #316
Hi @clintonskitson,

Have you tried it while reverting the cached paths commit? It sounds as if not enough testing was done with the cached paths in conjunction with the modular configuration support. Also, please start specifying the configurations the way I've previously stated they should be specified. Ex:

[code]

We need a baseline. Once the baseline is established, then you are free to defin

[2016-02-24 18:39] akamalov commented on #302
Off docker ? How do you want me to produce it ?

[2016-02-24 18:41] clintonskitson commented on #316
@akutz My example is referencing our first example in the documentation, but pulled back to one module.

I did test your version and it does work that way.

[2016-02-24 18:41] akutz commented on #316
Hi @clintonskitson,

I know why it's failing. And it's the cached commit. It is because copying a config instance doesn't retain the scope of the original instance. For a test, **before** [line 64 of voldriver.go](https://github.com/emccode/rexray/blob/master/daemon/module/docker/volumedriver/voldriver.go#L64) add the code:

[code]

That's just to prove my theory. If that works I'll update Gofig w

[2016-02-24 18:41] clintonskitson commented on #302
Can you set the logging to `debug`, and then `rexray restart` and try again?

[2016-02-24 18:44] akutz commented on #316
Yes, but that was *your* example for which I was not in favor. The second example in the documentation is the one I prefer and communicate to others. However, despite my issues with the one you continue to elect to use, it *should* work. Please see my above comment as to why it is likely failing.

[2016-02-24 18:46] akamalov commented on #302
Clint ```debug``` on Docker service or Rexray?

[2016-02-24 18:49] clintonskitson commented on #316
@akutz Roger that, it works.

[2016-02-24 18:53] raphtheb commented on #180
Currently experiencing this issue first-hand on CoreOS 962.00, Docker 1.10.1 and rexray 0.3.1 . It seems like the issue is not limited to atomic.

[2016-02-24 18:53] clintonskitson commented on #302
Sorry about that, I listed a debug config above for REX-Ray.

in the config.yml
[code]

ex
[code]

[2016-02-24 18:55] clintonskitson commented on #180
@raphtheb Have you tried the fix as listed https://github.com/docker/docker/issues/18005

[2016-02-24 18:59] akutz commented on #316
Hi @clintonskitson,

It should work now without any chance to REX-Ray since it pulls master for gofig, and I just [accepted the PR for that](https://github.com/akutz/gofig/pull/7) that fixes the issue. Simply ensure that gofig is up to date by nuking your vendor dir and doing a `go get -u github.com/akutz/gofig`.

Once proven, please close this issue.

[2016-02-24 19:05] akamalov commented on #302
Done.

**Set /etc/rexray/confi.yml to debug:**

[code]

**Restarted REX-Ray:**

[code]

**Attempt to Create a Volume:**

[code]

**Display Debug Log**

[code]

Doesn't look like debug to me :(

[2016-02-24 19:07] raphtheb commented on #180
@clintonskitson That's my next step, will report my findings.

[2016-02-24 19:09] clintonskitson commented on #302
Indeed =) `rexray env | grep LOG` should return `REXRAY_LOGLEVEL=debug`.

[2016-02-24 19:13] clintonskitson commented on #316
Thanks @akutz

[2016-02-24 19:13] #316 closed

[2016-02-24 19:19] akamalov commented on #302
It does...

[code]

[2016-02-24 19:21] akutz commented on #316
Yup. You're welcome. Glad it was an easy one :)

--
-a

[2016-02-24 19:21] clintonskitson commented on #302
Is your rexray.env file populated?

On Wednesday, February 24, 2016, akamalov <notifications@github.com> wrote:

[2016-02-24 19:24] clintonskitson commented on #302
Try and start it manually, rexray start.

On Wednesday, February 24, 2016, Clinton Kitson <clintonskitson@gmail.com>
wrote:

[2016-02-24 19:29] akamalov commented on #302
Yep /etc/rexray/rexray.env is populated:

[code]

[2016-02-24 19:31] clintonskitson commented on #302
That is going to be used when systemctl is called. It is redundant to the
/etc/rexray/config.yml file.  Clearing it out and making is empty is best.
The log level is set to warn as listed there.

On Wednesday, February 24, 2016, akamalov <notifications@github.com> wrote:

[2016-02-24 19:32] akamalov commented on #302
Wow.. it worked when starting manually:

[code]
[code]

[2016-02-24 19:35] akamalov commented on #302
Excellent suggestion. I cleared out /etc/rexray/rexray.env and restarted the daemon from systemd, and it worked:

[code]

[2016-02-24 19:37] clintonskitson commented on #302
Interesting. I need to see if I can reproduce on my end which setting in
the env file was causing the regression.

On Wednesday, February 24, 2016, akamalov <notifications@github.com> wrote:

[2016-02-24 21:24] clintonskitson commented on #302
@akamalov Btw. We just identified an issue with scoped configs which would impact your pre-emption settings. If you're testing that then RC4 would be the next target shortly.

[2016-02-24 21:30] akamalov commented on #302
awesome!!

[2016-02-24 23:00] clintonskitson opened #317 "Malformed host header reported from Docker"
The 0.3.2-RC3 release was built using Go 1.6. If using this in combination with Docker 1.9 or before, it may result in the following error. Docker 1.10 looks to not be impacted with this problem.

[code]

@akutz It looks like Go 1.6 is enforcing a new Host header requirement. See conversation here https://groups.google.com/forum/#!topic/golang-codereviews/CPeFXzMJRzI

If we are going to compile ag

[2016-02-24 23:09] akutz commented on #317
Hi @clintonskitson,

As this release includes patches specifically for Docker 1.10, REX-Ray 0.3.2 should raise the minimum requirement for Docker to 1.10 and require the host header. I don't care about manual invocations against the module -- people can adjust their calls to include a valid Host header. The [Host header is a required part of the HTTP 1.1 specification](https://www.w3.org/Protocols

[2016-02-24 23:19] clintonskitson commented on #317
@akutz The functionality addressed here does account for Docker 1.10 enhancements, but it is still backward compatible with previous versions. I don't see a need to instantiate a compatibility matrix at this point.

[2016-02-24 23:26] clintonskitson commented on #317
Fix here for now could be to revert to Go 1.5x for 0.3 and make that choice explicitly for the 0.4 releases.

[2016-02-24 23:26] akutz commented on #317
Hi @clintonskitson,

This is an issue of previous versions of Golang not being compliant with the HTTP 1.1 specification. Golang 1.6 *is* compliant. I closed this issue because we're not going to subvert a language's adherence to the HTTP, or any other, specification. It would be like bypassing some aspect of TLS because it's inconvenient. What is your suggestion?

1. Restrict REX-Ray to Golang 1.

[2016-02-24 23:27] akutz commented on #317
Hi @clintonskitson,

There is no reason that the requirement cannot be made explicit for this release. Again, this is a requirement of the HTTP specification to which Go merely caught up.

[2016-02-24 23:29] clintonskitson commented on #317
@akutz What is our benefit to enforcing the Header considering the state of the eco-system?

[2016-02-24 23:32] akutz commented on #317
Hi @clintonskitson,

1. Accurate logging
2. Accurate auditing
3. Handling reverse-proxy scenarios (not possible without the Host header set)
4. Multiple server-side end-points

[2016-02-24 23:34] clintonskitson commented on #317
@akutz We are talking about communication that occurs over a local socket file for 0.3.2.

[2016-02-24 23:38] akutz commented on #317
Hi @clintonskitson,

That's the default configuration, but nothing restricts it to that. A user could configure it differently.

[2016-02-24 23:41] clintonskitson commented on #317
@akutz The volume driver interface is not useful in a remote fashion today. I am going to repeat, there is no benefit today for enforcing a Header and Go 1.6 and its impact was not a properly planned change.

[2016-02-25 00:11] clintonskitson commented on #291
@echupriyanov @cpuguy83

I have been able to reproduce on my side here. It does look like Swarm is exacerbating a leak problem by issuing the List() requests.

You can see here that a `docker volume ls` does result in leaked files. Each call increments by 12 and this makes sense for 1.10 since 1 call is List() and the other 11 are Path()'s per volume.
[code]

The following are manual List() POST o

[2016-02-25 00:24] HackToday commented on #180
@raphtheb  Thanks for you info, Please let me know your results

[2016-02-25 00:24] akutz commented on #317
Actually, this is an inaccurate statement. I researched the aspects of 1.6, and I was actually aware of the changes with the HTTP library, and they were in fact my primary impetus for making the change. I was performing perf tests with 1.6 RCs to see where the inclusion of HTTP/1.2  enhanced even local performance as well as how it would impact future inclusion of the TLS overhead.

I'll repeat, I

[2016-02-25 01:04] cpuguy83 commented on #291
Hmm, I could see a potential leak if there is an error, but not otherwise.

[2016-02-25 01:12] akutz commented on #317
Closed with 0.3.2-RC4

[2016-02-25 01:12] #317 closed

[2016-02-25 01:57] clintonskitson commented on #317
@akutz It is Docker making calls to us, it is not configurable.

On Wednesday, February 24, 2016, Schley Andrew Kutz <
notifications@github.com> wrote:

[2016-02-25 02:28] clintonskitson commented on #302
@akamalov RC4 is out!

[2016-02-25 02:28] clintonskitson commented on #299
RC4 is out!

[2016-02-25 04:19] clintonskitson commented on #291
@cpuguy83 I believe I narrowed it down to the init process for the plugins. A `docker volume ls` looks to reinitialize all plugins from spec/socks.

[code]

[2016-02-25 04:23] clintonskitson commented on #291
It looks like store.getVolume() and store.list() are calling `volumedrivers.GetAllDrivers()` causing the behavior.

[2016-02-25 06:02] clintonskitson commented on #291
@byrnedo @wallnerryan I believe I have a fix in place for this now as referenced in PR https://github.com/docker/docker/issues/20686.  Thank you for tracking.

[2016-02-25 13:42] akamalov commented on #302
RC4 installed. Testing...

[2016-02-25 15:09] byrnedo opened #320 "EC2: docker.volumeType in config results in "Unsupported FS" error when mounting/formatting"
Rexray 0.3.2-rc4
Docker version 1.10.2, build c3959b1

My config ( aws key and secret from env vars ):
[code]

Looks like it's setting the fsType flag to gp2 as well.

Output with `volumeType` in conf:
[code]

When I remove `volumeType` from conf:
[code]

[2016-02-25 15:36] clintonskitson commented on #320
Ok I will look into this one shortly. @akutz this one is the last one for
the RC.

On Thursday, February 25, 2016, Donal Byrne <notifications@github.com>
wrote:

[2016-02-25 17:18] akutz commented on #320
Hi @clintonskitson,

Is PR #321 the fix for this? If so, would you please update the PR's description to reference this issue? Thanks.

[2016-02-25 17:25] clintonskitson commented on #320
Done

[2016-02-25 17:25] #320 closed

[2016-02-25 17:33] echupriyanov opened #323 "Migrating from gomz to aws-sdk-go?"
Will you consider switching library for communicating with AWS?
[aws-sdk-go](https://github.com/aws/aws-sdk-go) is officially supported by Amazon and closer to actual API.

I did preliminary rewrite, going to test it locally, and, if everything will work ok, submit it for review.

[2016-02-25 17:35] akutz commented on #323
Hi @echupriyanov,

I have no issues with that. I know @clintonskitson originally forked goamz to add support for [copying snapshots](https://github.com/clintonskitson/goamz/tree/feature/snapcopy). Does AWS-SDK-Go support that? Also, how large in file size is the compiled AWS-SDK-Go archive file?

[2016-02-25 17:41] akutz commented on #323
Hi @clintonskitson,

I just did a `go get` on this package and its sub-packages and sized it up. Wow.

[code]

@echupriyanov, are you aware to which packages we'd need to link or how incestuous the library is internally? If we link the root do we pull in the entire thing? I really don't want to add another 115MB to the size of the RR binary...

[2016-02-25 17:43] clintonskitson commented on #323
@echupriyanov I would be open for the change if technically it made sense. There are some intricacies to how we pursue operations to minimize the amount of time waiting on operations. Goes back to the "eventually consistent" nature of the AWS API.

[2016-02-25 17:45] echupriyanov commented on #323
Yes, AWS-SDK-Go has CopySnapshot. So far all operations are directly mapped to AWS API calls.
Right now unstripped linux binaries are as follows: Rexray (goamz) - ~68M, RexRay (aws-sdk-go) - ~74M.
Stripped binaries 38M and 41M corresponding.

[2016-02-25 17:47] akutz commented on #323
Hi @echupriyanov,

So the size isn't a true factor. Then as @clintonskitson said, if it makes sense technically. For what reason are you suggesting it? What's the primary impetus to make the switch?

[2016-02-25 18:00] echupriyanov commented on #323
Initially, I wanted to add feature to get AWS creds from AWS instance profile.
I’ve checked goamz, and it looks like its slightly outdated. Also, I’m using aws-sdk-go in my other projects, so I decided it would be a good practice to try to use it with RexRay.

At least we can try and look how it will be performing.

[2016-02-25 20:29] byrnedo commented on #320
Sweet. Thanks.

[2016-02-25 20:30] spiegela commented on #299
Tested with RC5.  Works fine now :tada:

[code]

[2016-02-25 20:31] clintonskitson commented on #299
Ok! Please close issue if you're good.

On Thursday, February 25, 2016, Aaron Spiegel <notifications@github.com>
wrote:

[2016-02-25 21:23] #299 closed

[2016-02-26 16:16] echupriyanov commented on #323
I have finished porting RexRay to `aws-sdk-go`. I’ve tried all available operations and everything looks working (include cross-region snapshot copy).
Code is located here - https://github.com/echupriyanov/rexray/tree/aws-official-sdk

What do you think about it? Should I commit a PR?

And back to technical motivation for migration, I think, sticking to officially supported SDK can ease our life i

[2016-02-26 16:21] clintonskitson commented on #323
Yeah let's make it an official PR so we can track it that way.

On Friday, February 26, 2016, echupriyanov <notifications@github.com> wrote:

[2016-02-26 21:53] raphtheb commented on #180
As a follow-up, i have been unable to get the fix mentioned in docker/docker#18005 to help in resolving this issue. That being said, for our current use-case, disabling SELinux isn't too big a deal and will be our preferred solution until a more permanent resolution is achieved.

[2016-02-27 02:08] HackToday commented on #180
so @raphtheb  it means you still need to disable selinux for coreos?

It seems docker/docker#18005  still is open, it is not solved in docker code.

[2016-02-28 03:54] clintonskitson opened #326 "REX-Ray process disappears unexpectantly or appears as defunct"
There may be a situation depending on the Linux distribution where REX-Ray unexpectantly stops running or the process ends up in a defunct state.

In reviewing the current documentation we have, the guidance clearly leans towards using `rexray start` to start the REX-Ray process for servicing Volume Driver requests. This is actually does not seem like the proper way to run REX-Ray in the long term

[2016-02-28 03:56] clintonskitson commented on #326
@akutz What do you think here?  1) Are misleading by specifying `start` as the command line option? 2) If so should we add some info after this operation to state that it should be ran via an init process? 3) I can work on some doc updates. I don't think I am seeing a section for doing a `rexray install` after binary download or for starting via init system.

[2016-02-28 04:04] clintonskitson commented on #180
Reposting this in our thread, I was able to get around the problem with the following example using CoreOS.

`docker run -ti --security-opt=label:disable --volume-driver=rexray -v testing221:/tst busybox`

[2016-02-28 08:04] HackToday commented on #180
Hi @clintonskitson  The point is that nobody would like to add such opts for every containers running.

Consumers would want to

1) not disable selinux for docker

2)  rexray can run with docker.

[2016-02-29 13:38] rhatdan commented on #180
Right disabling SELinux really eliminates one of your primary controls for guaranteeing container separation.

[2016-02-29 19:48] clintonskitson commented on #297
Going to work on the PR to capture this @akutz and the details around ensuring that REX-Ray is in the $GOPATH/src/github.com/emccode

[2016-03-01 14:56] Oskoss commented on #24
Adding a `+1` to this for the ScaleIO volume name issue. We are trying to create a volume for interacting with cloud foundry by the means of a service broker. Thus we need each volume to have a UUID 32 chars in length. Below is a stack trace for the error fyi.

[code]

[2016-03-01 14:58] clintonskitson commented on #24
The ScaleIO platform itself does not allow this. In 0.3.2 we merged a
change that will shrink the volume name down to 31 chars automatically.
When the volume is referenced with a longer name it will always return the
shorter backend volume.

On Tuesday, March 1, 2016, Peter Blum <notifications@github.com> wrote:

[2016-03-01 17:30] HackToday commented on #180
I have confirmed related question in OpenStack community, and @Atomic related person would help to track that .

But still let's confirm  @clintonskitson according to @rhatdan , https://github.com/docker/docker/issues/18005#issuecomment-190215862

Seems he not hit this issue.  @rhatdan  which atomic version do you use ?  (Atomic 23 or 22 ?)

[2016-03-01 21:55] rhatdan commented on #180
Looking at this a little closer, I think we should only call setBindModeIfNull(bind) if we are using the local driver.  Currently this causes

			if bind.Driver == "local" {
				bind = setBindModeIfNull(bind)
			}

[2016-03-02 01:24] akutz commented on #326
Hi @clintonskitson,

It's an issue with CoreOS behaving in concert with newer Linux distributions. SystemD is configured to clean up all process when a CGroup exits -- and an SSH session is now part of a CGroup. See [this](http://unix.stackexchange.com/questions/171503/tmux-session-killed-when-disconnecting-from-ssh) and [this](https://coreos.com/os/docs/latest/customizing-sshd.html) for how to ch

[2016-03-02 17:36] akutz commented on #326
Hi @clintonskitson,

I won't close this issue until your documentation PR is merged as well. Then I think we can consider this closed.

[2016-03-02 17:36] clintonskitson commented on #326
https://github.com/emccode/rexray/pull/327

[2016-03-02 17:36] #326 closed

[2016-03-03 11:43] docdentz opened #333 "RexRay cannot initiate storage driver with new ScaleIO 2.0"
Hi All,

Unfortunately after upgrading my cluster to ScaleIO 2.0 I am not able to get rexray to work anymore.
Attached is the Debug message:
INFO[0000] volume driver initialized                     provider=docker
DEBU[0000] error initializing driver                     driverName=ScaleIO error.insecure=true error.useCerts=false error.userName=admin error.password="******" error.provider=ScaleIO e

[2016-03-03 14:53] clintonskitson commented on #333
ScaleIO v2 has not been tested w REX-Ray as of yet. Support will come after
0.3.2.

On Thursday, March 3, 2016, docdentz <notifications@github.com> wrote:

[2016-03-04 22:14] #315 closed

[2016-03-04 23:23] akutz commented on #317
FYI - Docker is tracking this at https://github.com/docker/docker/issues/20865

[2016-03-06 06:04] cantbewong opened #336 "Documentation has dead links for activating storage drivers"
Various (all) places in this markdown file
https://github.com/emccode/rexray/blob/master/.docs/user-guide/storage-providers.md

Links to a document that does not exist at this time in the repository:
https://github.com/emccode/rexray/blob/master/user-guide/config#storage-drivers

[2016-03-07 16:39] akutz commented on #336
Hi @cantbewong,

Thanks for finding this. The MD files should not be accessed directly in the Github repo. They're there to build the RTD docs at http://rexray.readthedocs.org/en/stable/. In fact, if you look at http://rexray.readthedocs.org/en/stable/user-guide/storage-providers/, and scroll to the same link, it works there.

I'm not going to close this yet. I'm going to see if there's a doc link

[2016-03-07 16:51] akutz commented on #336
Hi @cantbewong,

So after looking the at the MD source:

[code]

I found that I can adjust it so that the link looks like this:

[code]

And Mkdocs still generates the appropriate HTML for the RTD site. However, the issue is that Github will still barf because the real problem is that there is a path difference between GH and RTD. Here's the produced URL in RTD:

### RTD Link
[code]

### Github Li

[2016-03-07 17:02] akutz commented on #336
Hi @cantbewong,

I think I've found a solution. I'll have to go through ALL the docs to verify nothing is missed, but if I change the link from:

[code]

to

[code]

it works.

Or if we wanted to link to the `/dev-guide/build-reference/#build-binary` from `/user-guide/storage-providers/` we'd create the link to look like:

[code]

The rules to make this work are:

1. All links must be relative.
2.

[2016-03-07 18:35] akutz commented on #336
FYI - The PR also includes [updated Project Guidelines](https://github.com/akutz/rexray/blob/bugfix/doc-gh-url-fix/.docs/dev-guide/project-guidelines.md#markdown) to reflect how to create links when writing markdown.

[2016-03-08 09:24] byrnedo commented on #291
Thanks @clintonskitson

[2016-03-08 18:52] #291 closed

[2016-03-08 18:53] clintonskitson commented on #302
@akamalov Can you close the issue if you are satisfied?

[2016-03-08 18:53] clintonskitson commented on #297
@sayash Can you close the issue if you are satisfied?

[2016-03-08 19:33] sayash commented on #297
Thanks!

[2016-03-08 19:33] #297 closed

[2016-03-08 20:46] akamalov commented on #302
Sorry, my bad. Thanks!!!

[2016-03-08 20:46] #302 closed

[2016-03-11 12:01] linusviking opened #342 "[Question] Volume mapping for Nomad"
Has anyone tried volume mapping on Docker containers on Nomad (https://www.nomadproject.io/) and share some experience?

[2016-03-11 16:36] clintonskitson commented on #342
Hello @linusviking!

It looks like the relevant thread in Nomad is https://github.com/hashicorp/nomad/issues/150

The idea was being thrown around for how to actually enable this. Today there is no support since Nomad doesn't have persistent support and it does not allow arbitrary parameters when running `docker run` commands.

[2016-03-18 22:05] robvelor opened #343 "[Question] Does rexray support multi host volume mounts?"
Does rexray support multi host volume mounts? For example having a container scale across different hosts sharing the same volume in a swarm cluster.

[2016-03-18 22:36] clintonskitson commented on #343
@robvelor Great question. Today REX-Ray was designed to actually ensure safety among many hosts that could *potentially* have access to the same host. This means that it forcefully restricts a single volume to only be available to one host at a time. Following this, if a volume is requested by another host and it is already mapped to a host then we consider *safety* to be critical here (because of

[2016-03-21 20:15] robvelor commented on #343
@clintonskitson Correct, the last paragraph describes the use case.  Thanks for the clarification :+1:.

[2016-03-21 20:17] rimusz opened #344 "Documentation for Kubernetes use"
documentation update for Kubernetes use

[2016-03-22 16:01] clintonskitson commented on #344
@rimusz Thanks for the comment here. We will definitely post changes for the 0.4 release where we formally introduce k8 support.

[2016-03-22 17:21] rimusz commented on #344
@clintonskitson can the rexray be used with kubernetes v1.2?

[2016-03-22 17:26] clintonskitson commented on #344
@rimusz We did a build of integrating RR 0.3 against K8 1.20-alpha8 and documented how to use it in this blog post.

http://blog.emccode.com/2016/03/03/docker-toolbox-with-kubernetes-rex-ray-and-persistent-volumes/

The changes can be applied to later k8 branches pretty easily. It is done via a branch [here](https://github.com/clintonskitson/kubernetes/tree/feature/rexray).

We are waiting on doin

[2016-03-22 17:31] rimusz commented on #344
@clintonskitson thanks for the update, I was hoping it is already merged to k8s v1.2 :)

[2016-03-29 19:09] akamalov opened #345 "Question: Will REX-Ray Support ScaleIO Snapshots"
Hey Clint, just a question: will REX-Ray Support ScaleIO Snapshots ? For instance, if I want to present a snapshot volume to another container ?

Thanks!!

Alex

[2016-03-29 19:32] justinclayton opened #346 "Openstack driver should use /dev/disk/by-id instead of trusting Cinder"
During the attach process on a Cinder volume, Nova returns hints to the OS as to what device name the volume should use. Unfortunately, most hypervisors [don't actually honor this at all](https://wiki.openstack.org/wiki/BlockDeviceConfig#Defaulting_device_names). This will cause a problem on any nova instance as soon as there is any kind of device-related hiccup, as the OS will get out of sync wit

[2016-03-29 20:27] orioncuba commented on #345
Hi folks
Question from customer can we use rexray in a Openshift broker(kubernetes)+ dockers install
Ann do scaleio snaps.
Openshift v3
Oscar

[2016-03-29 21:43] akamalov commented on #345
Hey Clint,

I stand corrected. It does show. I for some reason assumed that it will be visible under "volume list" and I should have done "snapshot list".

Thanks again!!!

Alex

[2016-03-29 22:28] clintonskitson commented on #345
No problem @akamalov. Yeah, the RR volume list gets filtered based on if the ancestorid is filled or not. But to ScaleIO they are all volumes.

[2016-04-05 06:52] zhaijunming opened #348 "REX-Ray only supports commercial storage as a docker storage?"
REX-Ray only supports commercial storage as a docker storage?

[2016-04-05 18:10] clintonskitson commented on #348
@zhaijunming REX-Ray supports any storage platform to which there is a driver. Have you reviewed the drivers that are available? GCE, AWS, OpenStack, VirtualBox, ScaleIO, VMAX, XtremIO, Isilon.

[2016-04-05 18:57] sterling312 opened #349 "docker-compose volume name on GCE"
When creating a rexray volume with docker-compose, the compose will automatically add project name in front of the volume name (default to the folder name of where the compose file is) separated with underscore.

GCE volumes does not accept underscore as valid volume name. Most likely, rexray gce driver will need to transpose any _ to something safe like - when creating the actual volume name on G

[2016-04-06 00:47] clubanderson commented on #333
I need this support as well.  I can't find scaleio v1.3 - do you have a link to it?  I am stuck!!!

[2016-04-06 00:58] clintonskitson commented on #333
We actually do.

https://github.com/emccode/vagrant/commit/de994cf7777606c6c50daaefc1b2c936295247e1

This commit has the old download location and the new one. There old one
should be able to be used while filling in 1 for version_major.

On Tuesday, April 5, 2016, Andrew Anderson <notifications@github.com> wrote:

[2016-04-06 03:25] clubanderson commented on #333
I took a look for http://downloads.emc.com/emc-com/usa/ScaleIO/ScaleIO_Linux_v1.32.zip.  Not there - 404.  I also tried to clone the multi-env commit and then do a make.  Dependencies on github.com/rackspace/gophercloud/openstack/blockstorage/v2/extensions/volumeactions.  I can't compile the source.  I must be doing something wrong.  Please help me understand how to compile.  I tried on Mac OS and

[2016-04-06 06:34] zhaijunming commented on #348
How to use the VirtualBox test?
With VirtualBox installed centos7, and then in the centos7 system test?

[2016-04-06 14:53] adaptivdesign opened #351 "too many volumes returned"
I'm using the Virtualbox storage driver, when I run multiple machines, it creates multiple virtualbox disks. It looks like RexRay picks up any virtualbox disk. If I inspect the 'packer-ubuntu-14.04-disk1.vmdk' volume through Docker I get this error: VolumeDriver.Get: {"Error":"too many volumes returned"}. Which is because there are two volumes with the same name.

[code]

[code]

Is it possible fo

[2016-04-06 15:59] akutz commented on #351
Hi @adaptivdesign,

For a workaround, can you create the disks manually to avoid the duplication of names? Using the VirtualBox storage manager this should be possible.

In the meantime I am working on a patch...

[2016-04-06 16:57] akutz commented on #351
Hi @adaptivdesign,

Here's [a binary](https://dl.bintray.com/akutz/rexray/support/0.3.2+1+docker-use-first-vol/) I built for Darwin (OS X) with the patch described in PR #352. To use the patched binary, please edit your REX-Ray `config.yml` and create a root config key named `docker:` if it does not exist, and then add the following child key so that the end-result looks like this (the example doe

[2016-04-06 19:31] clubanderson commented on #333
I forked #350 and got
drivers/storage/scaleio/scaleio.go:82: too many values in struct initializer

build won't succeed - any ideas?

[2016-04-06 19:54] clubanderson commented on #333
in order for #350 to compile you need to update the struct for configconnect in api.go (src/github.com/emccode/goscaleio/api.go)

type ConfigConnect struct {
	Endpoint string
	Username string
	Password string
}

its missing the new "version" string from drivers/storage/scaleio/scaleio.go

[2016-04-06 20:28] clubanderson commented on #333
forked goscaleio... changed the configconnect struct to have version.  changed import in the fork for #350 to pull from my fork for scaleio.  The build for rexray finishes.  I install the rexray driver and then attempt a service rexray start.  I get

Binary: /usr/bin/rexray
SemVer: 0.3.2
OsArch: Linux-x86_64
Branch: v0.3.2
Commit: 806dc9be95ad20cfbaeb52869f500047278f52a6
Formed: Fri, 04 Mar 2016 2

[2016-04-07 00:05] clintonskitson commented on #333
@clubanderson Pointed you there before I had the chance to test it. If it is complaining about the dependencies then it is likely the dependencies in the glide file that are not being pulled down or not correct.

https://github.com/emccode/goscaleio/pull/10

See the above commit which is the update to the scaleio bindings that include v2. You should be able to edit the glide.yaml file and update t

[2016-04-07 00:14] clintonskitson commented on #351
@adaptivdesign I am not sure if I'm a fan of solving for this problem. Since there is no way to determine which volume to which the query refers (if multiple with same name), it doesn't seem to make sense that we would enable any type of operation in this case.

To me the real solve has to do with ensuring a globally unique identifier accommodates volumes in Docker.

Can you describe more about wh

[2016-04-07 19:42] adaptivdesign commented on #351
@clintonskitson no no I completely agree with you. I don't expect anything else then the current behaviour. If 2 or more volumes exist and I want to inspect one, I totally understand an error occurs. The problem is, that I'm using the Docker API and it simply lists all volumes, which in turn will be inspected by my code.

Mayby the problem isn't clear **I did not add these 2 volumes**. On a fresh

[2016-04-07 19:46] clintonskitson commented on #351
So I get what is happening, but I am unsure as to why you would want to use
the base OS virtual disks with rexray. As far as listing the volumes is it
causing a problem seeing the volumes in the list of all volumes?

A filter could possibly be introduced in the VirtualBox driver but it
doesn't seem necessary unless it is causing functionality problems.

On Wednesday, April 6, 2016, Raymond Reggers

[2016-04-07 19:51] akutz commented on #351
Hi Guys,

To be clear, you can totally control the disks virtual box creates. You may have to create them manually or rename them, but even though you didn't name them, you can control the situation pre or post.

Regarding the "fix", I agree it's not ideal. I was simply trying to create a workaround for @adaptivdesign in order for him to continue testing REX-Ray. But you're absolutely correct @cli

[2016-04-07 19:51] adaptivdesign commented on #351
Me neither, I don't want to use the base os virtual disks. It's just that they are already there listed as a volume (I didn't add them as a docker volume). This causes problems

[2016-04-07 19:53] adaptivdesign commented on #351
Thank you @akutz. No no I will definitely keep using RexRay, i prefer it very much above Flocker or anything else. To me this seems like a problem with the Virtualbox Driver and the vboxwebsrv.

[2016-04-07 19:54] akutz commented on #351
Hi @clintonskitson,

Would a possible fix for this be to include a virtualbox driver option that allows you to toggle between the Disk name and ID as the value returned to Docker as the "name".

[2016-04-07 19:55] clintonskitson commented on #351
The issue of having everything that a storage platforms has be advertised
to docker is something we are addressing separately. We believe that
optionally you should be able to decide which volumes get advertised to
which container run times or clusters.

@akutz Knew you would get there =) The problem is that docker only returns
name through the API today, and yes we could manipulate the field and

[2016-04-07 19:58] akutz commented on #351
I have an idea. So the virtualbox driver works by creating a virtual disk. Why don't we make the driver ALWAYS prefix disks it creates with something like `libstorage-` so that when it comes time to list available disks we know which ones are there specifically for purposes of REX-Ray and libStorage? We can simply remove the prefix before sending it back to Docker and always add the prefix when Do

[2016-04-07 20:03] clintonskitson commented on #351
I am assuming you are referring to the Dublin branch where we implemented
this at a higher level. Yeah it would be useful for rexray to be able to
configure a prefix as part of the module config that specifies which
prefixes are valid to return and create with.

On Thursday, April 7, 2016, Schley Andrew Kutz <notifications@github.com>
wrote:

[2016-04-07 20:05] akutz commented on #351
Hi @clintonskitson,

I could have meant that, but in this case I simply meant specifically for this driver.

[2016-04-07 20:15] adaptivdesign commented on #351
Don't want to interrupt you guys, but it seems my case seems to behave different than intended. I ran https://github.com/jonasrosland/vagrant-rexray . If i run "rexray volume" it outputs all vbox disks on my host machine, if I run "docker volume ls" it shows no single rexray volume (expected behaviour).

I will try to narrow down the problem. If it persists, I'll make a vagrant box to replicate th

[2016-04-08 04:28] clintonskitson commented on #351
@adaptivdesign What you are seeing is likely due to the Docker version. In Docker 1.10, the `docker volume ls` functionality was changed to display all volumes from the storage platform. Previous to that Docker would only return volumes that Docker had previously made contact with. This was done because the source of truth for volumes was taking place in two separate locations and changes to the s

[2016-04-08 04:30] clintonskitson commented on #351
@akutz It could be driver level implementation but then if something at a global level was implemented, it might conflict or be confusing when individual drivers were also mutating the volume names.

I believe the only volume name manipulation in the drivers today is in ScaleIO where we shrink to 31 chars.

[2016-04-08 12:17] adaptivdesign commented on #351
@clintonskitson Thank you a lot, that clears everything up!

[2016-04-12 16:25] greatbn commented on #348
@zhaijunming  please find in docs directory
link: https://github.com/emccode/rexray/blob/master/.docs/user-guide/storage-providers.md#virtualbox

[2016-04-12 16:29] clintonskitson commented on #348
Thanks @greatbn. Also see blog posts we have done https://blog.emccode.com/2016/01/19/volume-plugins-with-docker-toolbox-and-boot2docker/

[2016-04-12 17:58] clubanderson commented on #333
@clintonskitson - thank you so much for the help.  I forked the rexray and go scaleio projects and then played with travis to see how to compile myself.  My go path was the issue.  I was able to clone the fixes in both repos to my laptop, build and now use the binary.

After compiling the binary I need to know the best way to register it as a service.  Any hints?  I can issue "rexray service start

[2016-04-12 18:00] clintonskitson commented on #333
"rexray install" does this for you. So first step is to put RR binary where
you want it, then run that command. Any commands following like "rexray
start" will leverage init system to spawn.

On Tuesday, April 12, 2016, Andrew Anderson <notifications@github.com>
wrote:

[2016-04-13 02:26] clintonskitson opened #360 "Feature to disable volume removal"
It was recently determined that a combination of features in Mesos when using the Docker containerizer against Docker version below 1.10 could result in unplanned volume removal. More details to come.

An easy safety net would be to allow the silent ignore feature for volume removal requests. This way any attempt to remove by Docker would be ignored by REX-Ray. This could be implemented at a modul

[2016-04-13 02:29] akutz commented on #360
Good idea. I don't mean to pick nits, but it wouldn't be at the module level. It would be at the volume/integration driver level and like any config option, you can use modules to create scoped config views.

[2016-04-13 09:28] frank-montyne opened #361 "Azure storage support"
Hi,

Any chance of seeing support for Azure (page blob) storage in the future?

Thanks,
Frank

[2016-04-13 14:12] gonzalomarcote opened #362 "Option to mount one specific dir or file from one volume"
Hi,

I am using rexray with the openstack driver.
I want to launch one MySQL container in a docker swarm cluster like this:
`docker -H tcp://X.X.X.X:3376  --name db01 --net=internal --volume-driver=rexray -v db01/my.cnf:/etc/mysql/my.cnf -v db01/mariadb:/var/lib/mysql -v db01/certs/:/etc/ssl/mysql:ro -d mysql:latest`

I have tried this, but the problem I face with rexray is that I can not specify

[2016-04-13 15:56] clintonskitson commented on #362
Gonzalo,

That is actually a limitation of Docker today in terms of not allowing you
to mount files from an external volume. A formal request would need to be
made w Docker to enable that.

One option you have is to create the volume ahead of time at whatever size
you would like using the typical tools. The size won't interfere with RR
using the volume.

On Wednesday, April 13, 2016, Gonzalo Marco

[2016-04-13 16:05] gonzalomarcote commented on #362
Thank you for the clarification.
To create a smaller volume with cinder (openstack) is a valid option for me.

[2016-04-13 19:46] dtx opened #363 "RexRay with Docker 1.9.*"
This is less of an issue, but a request to understand any known issues with using Docker 1.9.* with Rex-ray since that is the version of Docker we use in production, with an ceph plugin built in house.

I am currently setting up a PoC for using similar setup on AWS and was considering leveraging Rex-ray for EBS management.

Are there any known issue for using Rex-ray with Docker 1.9.*? The docs me

[2016-04-13 20:43] dtx commented on #363
After further reading the docs, there seems to be a slack channel where such questions are better suited. Closing this to prevent redundancy.

[2016-04-13 20:43] #363 closed

[2016-04-13 20:57] clintonskitson commented on #361
I believe if you're referring to standard or premium disks then it could very well be a target. We are definitely opening to seeing a contribution of an azure driver here.

[2016-04-13 21:05] clintonskitson opened #364 "Add a mount and unmount timeout"
Referencing
https://github.com/emccode/mesos-module-dvdi/issues/88#issuecomment-209152021

It would be good to add in a feature to enable a timeout for mount or unmount operations. In the case of mounts, a device discovery process may fail and it would be ideal to timeout at a specific interval to indicate the process is no longer trying to run. The same goes for the unmount operation where there

[2016-04-13 21:06] clintonskitson commented on #362
@gonzalomarcote If you're satisfied with the response, please close the issue.

[2016-04-13 21:30] clintonskitson opened #365 "Debug logging not occurring with Ubuntu 14.04"
@akutz It looks like with RR 0.3.2 and Ubuntu 14.04, the logging is not making it to `/var/log/rexray/rexray.log`. Running it in the foreground does yield the necessary information. Can you review with an Ubuntu instance?

`REXRAY_LOGLEVEL=debug`

[code]

[2016-04-13 21:35] clintonskitson commented on #360
https://github.com/emccode/rexray/pull/366

[2016-04-13 21:35] #360 closed

[2016-04-14 06:49] frank-montyne commented on #361
Yes that's what I meant.

[2016-04-14 07:26] #362 closed

[2016-04-14 07:26] shashankmjain opened #368 "Skipping ssl validation for openstack"
Hi,
Is it possible to skip ssl validation for openstack driver. I see gopher has an ignore_cert_warning = "true" but is it applicable in rexray. I tried with insecure flag as true. But didnt work.Also no logs seem to get generated to see exact errors. This is the config file

[code]

  storageDrivers:
  openstack
openstack:
    authURL:             https://identity-test.eu-de-1.cc.test.corp:5000/v

[2016-04-14 07:27] gonzalomarcote commented on #362
Sure.
I will open one request to the docker team for them to work on that limitation.

[2016-04-14 14:50] clintonskitson commented on #368
@shashankmjain I just looked through the code and indeed the `insecure` param was not implemented. Looking at a fix now.

[2016-04-14 15:50] clintonskitson opened #369 "Fix dead links in docs"
Adding placeholder to check docs for dead links. Storage drivers table does incorrectly reference drivers today.

[2016-04-14 15:54] akutz commented on #369
Hi @clintonskitson,

Please provide examples. I've fixed some before, and they technically weren't broken as they were being visited from the wrong location (inside Github). I just want to make sure we record the specific links and times (and commits) at which they were reported. Thanks!

[2016-04-14 16:34] clubanderson commented on #315
Clinton, I just got this error today.  What can I do to remove this caching?

Docker version 1.10.3, build 20f81dd

docker volume ls
DRIVER              VOLUME NAME

rexray log:
Apr 14 16:33:52 css-c-sdlc-021.cisco.com rexray[5153]: time="2016-04-14T16:33:52Z" level=error msg="/VolumeDriver.Path: error returning path" error="No volumes returned by name"
Apr 14 16:33:52 css-c-sdlc-021.cisco.com rex

[2016-04-14 16:36] clubanderson commented on #315
please re-open #315 @clintonskitson

[2016-04-14 16:43] clintonskitson commented on #315
Are you configuring rexray using module configuration? What does the config look like?

What does a `rexray volume ls` look like?

[2016-04-14 16:53] clubanderson commented on #315
Empty return. No errors though. Scaleio log shows successful rc

[2016-04-14 16:55] clintonskitson commented on #315
Can you create a volume and then do a ls? I am assuming you are targeting a certain storagePool with your config right now that has no volumes in it?

[2016-04-14 17:03] clintonskitson commented on #368
@shashankmjain Please check this PR for fix https://github.com/emccode/rexray/pull/370

[2016-04-14 17:03] clubanderson commented on #315
Yes. I have done that also. Works fine. And I can then list it

[2016-04-14 17:04] clintonskitson commented on #315
So a `rexray volume ls` works, rexray is started with `rexray start`, but a `docker volume ls` does not list any volumes at that point?

[2016-04-14 17:35] clubanderson commented on #315
[root@css-c-sdlc-021 ~]# rexray volume create --volumename="test" --size=1
name: test
volumeid: fb38068c00000000
availabilityzone: protection_domain1
status: ""
volumetype: pool1
iops: 0
size: "8"
networkname: ""
attachments: []

[root@css-c-sdlc-021 ~]# docker volume ls
DRIVER              VOLUME NAME
rexray              test

[root@css-c-sdlc-021 ~]# rexray volume ls
- name: test
  volumeid: fb3

[2016-04-14 17:36] clubanderson commented on #315
the problem is that marathon son has 3 volumes in it (docker parameters), they don't exist (they did in an old install).  Where is it being cached that the volumes are already created and do not need to be created from scratch?

[2016-04-14 17:38] clintonskitson commented on #315
@clubanderson Can you describe the situation again, I am not following. What you just showed looks to be accurate to me.

[2016-04-14 17:45] clubanderson commented on #315
[root@css-c-sdlc-021 ~]# rexray volume create --volumename="test" --size=1
name: test
volumeid: fb38068c00000000
availabilityzone: protection_domain1
status: ""
volumetype: pool1
iops: 0
size: "8"
networkname: ""
attachments: []

[root@css-c-sdlc-021 ~]# docker volume ls
DRIVER              VOLUME NAME
rexray              test
[root@css-c-sdlc-021 ~]# rexray volume ls
- name: test
  volumeid: fb38

[2016-04-14 18:11] clintonskitson commented on #315
Have you tried a "rexray restart"? There is a level of cache in place that
can be disabled if it is causing problems.

On Thursday, April 14, 2016, Andrew Anderson <notifications@github.com>
wrote:

[2016-04-14 18:56] clubanderson commented on #315
I've tried restarting the service. Did not help

[2016-04-14 19:17] clintonskitson commented on #315
It quite possibly could be from an old container that is mapping these. Can you try removing the containers that are on the system or stopped? This could be causing docker to maintain the volume awareness.

[2016-04-14 22:26] clubanderson commented on #315
So, what appears to have been happening is that each time a mesos failure occurred (couldn't map a drive) a retry was launched by marathon.  This leaves X number of dead/exited containers lying around the docker ecosystem.  To fix this issue, before I spawn a new version of a container, I cleanup the exited ones...

docker rm $(docker ps -aq)

that then allows me to

docker volume rm $(docker volu

[2016-04-14 22:41] clubanderson commented on #315
I need to try to kill scaleio and then see what happens to the volumes.  Thats the next test.

[2016-04-15 02:43] clintonskitson opened #372 "Implement Docker 1.12.0 Volume API"
Tracking this issue

https://github.com/docker/docker/pull/21006#issuecomment-210188532

[2016-04-15 21:47] clintonskitson commented on #369
All of the storage platform links from the main page look to be broken in the table.

http://rexray.readthedocs.org/en/stable/user-guide/storage-providers/scaleio

[2016-04-16 20:05] clintonskitson commented on #365
@akutz Did some digging and it looks like in order to get this working properly we would need to respect a difference in upstart (ubuntu 14.04 uses it).

Excerpt from Docker's init.d file for u14.04.
[code]

Probably only valid for me educationally, but I tried modifying our's to the following and it logs.
`start-stop-daemon --start --background --exec /usr/bin/rexray`

@akutz So it looks like we

[2016-04-16 20:14] clintonskitson commented on #369
addressed in here https://github.com/emccode/rexray/pull/337

[2016-04-16 20:14] #369 closed

[2016-04-17 20:27] #365 closed

[2016-04-17 20:27] akutz commented on #323
Closed with PR #359

[2016-04-17 20:27] #323 closed

[2016-04-17 20:28] akutz commented on #333
Closed with #355

[2016-04-17 20:28] #333 closed

[2016-04-17 20:38] clubanderson commented on #333
I was able to build the RPM finally.  I was missing rpm-build on my build environment.  It is installing properly now.

[2016-04-17 20:41] akutz commented on #333
Hi @clubanderson,

I should be more specific [here](http://rexray.readthedocs.org/en/stable/dev-guide/build-reference/#build-rpms) when calling out what the RPM environment means. If you'd like to file a ticket to track the issue, I'll make sure to add additional information about requiring `rpm-build` as well as other tools.

[2016-04-17 20:44] akutz commented on #333
Hi @clubanderson,

By the way, the RPM and DEB are always built for the latest build and copied into the latest folder for that build's files. Go [here](https://bintray.com/emccode/rexray/staged/0.3.3-rc1/view#files/staged/latest) and click on the `Files` tab followed by the `latest` folder to find the RPM for 0.3.3-rc1.

[2016-04-18 17:24] clintonskitson opened #379 "Add docs for new Create/Remove enable/disable to container schedulers"
The Create/Remove functionality is specific to Mesos/Docker. Let's get some updates to the docs that describe how and why it might be used.

[2016-04-19 07:58] shashankmjain opened #380 "Creating multiple volumes on AWS EBS with Swarm"
When we use Swarm as the scheduler, it tends to create multiple volumes(equal to number of nodes in cluster). Is it a bug/feature?

[2016-04-19 17:19] clubanderson opened #381 "docker looks for volumes even though they don't exist"
scenario:
 scaleio 2.0

Install Scaleio (MDM, TB, SDC, SDS, GUI)
Start docker container that maps a volume (test:/etc/test)
Destroy scaleio (or just remove volume)
Restart docker

Docker will insist that a volume should exist and should not be created.  If you look in dockers volume/metadata.db you will see that docker thinks a volume should exist.

Resolution: if docker believes the volume should

[2016-04-19 19:52] clintonskitson commented on #381
@clubanderson I believe it is actually Docker that is failing because they believe the volume exists already. The "dangling" volume is on the Docker side where containers that still exist that were attached to volumes create a problem.

On the RR side, if you create the volume from the `rexray` command I am assuming there are no problems.

You could also try creating the volume using `dvdcli` whic

[2016-04-21 09:59] aluzzardi opened #385 "Containerize rexray"
There have already been efforts to document the process (#347), but it would be great if there was an official image readily available for rexray as it would greatly simplify the automation process.

[2016-04-21 14:25] clintonskitson commented on #385
@aluzzardi There was a PR introduced by @wlan0 for this https://github.com/emccode/rexray/pull/347

I am supportive of providing releases to Docker Hub. What we are really missing to formally go this direction is clear directions for all of RR's drivers being ran from inside a container.

Each driver includes it's own requirements on access to certain things like devices and introspection tools. T

[2016-04-21 15:02] clubanderson opened #386 "Rexray failure to initialize scaleio driver on Ubuntu - latest 0.3.3rc1"
When I attempt to use the new rexray binary from https://bintray.com/artifact/download/emccode/rexray/staged/latest/rexray-latest-x86_64.deb

On ubuntu:

root@css-c-sdlc-021:/opt# rexray volume list -l debug
DEBU[0000] updated log level                             logLevel=debug
INFO[0000] [linux]
INFO[0000] [docker]
INFO[0000] [scaleio]
DEBU[0000] core get drivers                              osD

[2016-04-21 15:42] clintonskitson commented on #386
It is trying to retrieve the local sdc guid and failing.

https://github.com/emccode/goscaleio/blob/5b02f78c9e4b331a05271145196c15c6614b9eff/sdc.go#L126-L140

Can you run this command successfuly?
`/opt/emc/scaleio/sdc/bin/drv_cfg --query_guid`

It is likely that the SDC isn't configured correctly?

[2016-04-21 15:43] clintonskitson commented on #386
Following this command is the last step of initialization where we verify that SDC can be seen from the gateway that RR that talk with.

[2016-04-21 15:51] clubanderson commented on #386
[root@css-c-sdlc-021 ~]# /opt/emc/scaleio/sdc/bin/drv_cfg --query_guid
2785B5FB-C3B0-400E-8D73-77A93BA3C0F1

The docker host (RHEL) is where I ran the above command.  It succeeded.  The ubuntu container does not have any scaleio components installed on it and therefore I could not run the command there.

Both the docker host and the container are both pointed (via rexray config) to the same gatewa

[2016-04-21 16:13] clintonskitson commented on #386
Not sure if I follow what your are trying to do?

Are you running RR inside of a container?

The instance where RR is running needs a valid and configured SDC installed
if you want storage to be add available to that instance.

On Thursday, April 21, 2016, Andrew Anderson <notifications@github.com>
wrote:

[2016-04-21 16:45] clubanderson commented on #386
SDC is now installed and scini is running

root@css-c-sdlc-021:/var/tmp# dpkg -i EMC-ScaleIO-sdc-2.0-5014.0.Ubuntu.14.04.x86_64.deb
Selecting previously unselected package emc-scaleio-sdc.
(Reading database ... 29538 files and directories currently installed.)
Preparing to unpack EMC-ScaleIO-sdc-2.0-5014.0.Ubuntu.14.04.x86_64.deb ...
Unpacking emc-scaleio-sdc (2.0-5014.0.Ubuntu.14.04) ...
Setting

[2016-04-21 17:11] clintonskitson commented on #386
How about the query guid command?

Did u do a MDM_IP= when you installed the SDC?

On Thursday, April 21, 2016, Andrew Anderson <notifications@github.com>
wrote:

[2016-04-21 18:03] clubanderson commented on #386
Ahh. You mean that's important?  Whoops. Let me try that next.

[2016-04-21 20:30] clubanderson commented on #386
No good

root@css-c-sdlc-021:/var/tmp# export MDM_IP="10.202.46.31,10.202.46.30"
root@css-c-sdlc-021:/var/tmp# dpkg -i EMC-ScaleIO-sdc-2.0-5014.0.Ubuntu.14.04.x86_64.deb
Selecting previously unselected package emc-scaleio-sdc.
(Reading database ... 29538 files and directories currently installed.)
Preparing to unpack EMC-ScaleIO-sdc-2.0-5014.0.Ubuntu.14.04.x86_64.deb ...
Unpacking emc-scaleio-sdc

[2016-04-21 22:38] clintonskitson commented on #386
Check the drv_cfg command, see if you can find the guid from it in the
scaleio system.

On Thursday, April 21, 2016, Andrew Anderson <notifications@github.com>
wrote:

[2016-04-22 01:44] clubanderson commented on #386
somehow i messed up the docker host now....

[root@css-c-sdlc-021 bin]# ./drv_cfg --query_guid
open kernel device /dev/scini: No such device or address
[root@css-c-sdlc-021 bin]# ls -alrt /dev/scini
crw-r--r--. 1 root root 247, 0 Apr 18 17:57 /dev/scini
[root@css-c-sdlc-021 bin]#

states that there is no device, when indeed it exists.  the same output comes from inside the docker container.  I hav

[2016-04-22 09:31] aluzzardi commented on #385
Would it be possible to do something like [cAdvisor](https://github.com/google/cadvisor), which basically mounts pretty much the entire host system in the container?

It doesn't seem shocking to me if RR requires a bunch of mounts from the host.

[2016-04-22 14:23] gonzalomarcote opened #389 "Latest rexray version 0.3.3 for Debian dies just after start it"
Latest version 0.3.3 dies after start it in debian stable (jessie) with:
`# systemctl start rexray.service`

I can only see this logs in rexrray logs:
...
Binary: /usr/bin/rexray
SemVer: 0.3.3
OsArch: Linux-x86_64
Branch: v0.3.3
Commit: b30fb870b5b94cd8368824460ad020bfcf20be3a
Formed: Thu, 21 Apr 2016 21:41:36 CEST

time="2016-04-22T16:08:53+02:00" level=error msg="default module(s) failed to star

[2016-04-22 14:39] akutz commented on #389
Hi @clintonskitson,

I wonder if this is related to the fix for #373.

[2016-04-22 14:47] clintonskitson commented on #389
Will investigate further this am.

On Friday, April 22, 2016, Schley Andrew Kutz <notifications@github.com>
wrote:

[2016-04-22 14:49] clintonskitson commented on #385
The problem is that RR and its drivers are looking for specific tools and
devices etc in the / path and not a sub path as you would do when mounting
the complete / from the host. Good idea though, having a prefix setting
that was respected for all of the drivers would make it so you could more
easily just specify the whole host to a specific directory in the container
and then point the drivers to

[2016-04-22 16:25] clintonskitson commented on #389
@gonzalomarcote I just tried and couldn't replicate what you saw.

Can you try starting the service with `rexray start -f -l debug`?

[2016-04-22 21:39] clintonskitson commented on #379
https://github.com/emccode/rexray/pull/384

[2016-04-22 21:39] #379 closed

[2016-04-22 21:40] clubanderson commented on #386
Any ideas on what I can try here @clintonskitson ?

[2016-04-22 23:41] aluzzardi commented on #385
@clintonskitson A prefix setting would be awesome.

Do you think this could be a multistep process, where first we get an official RR image published somewhere and let people fiddle with the right `-v` settings and then eventually we handle prefixes?

[2016-04-23 02:14] clintonskitson commented on #385
@aluzzardi I would see it as one step where we have a PR with a Dockefile and it is linked to Docker Hub at that point. It should also come with good instructions on how it can be used including the feature I suggested.

For now there is a Dockerfile that is shown in the PR that currently exists for containerizing done by folks at Rancher.

[2016-04-24 08:03] thbeh opened #390 "Ceph"
Hi, this is not actually an issue but just to find out whether can I use rex-ray as a driver to docker/mesos to attached  a ceph/rbd disk?

[2016-04-24 14:33] clintonskitson commented on #390
We don't have a driver yet but would be interested if someone was to contribute one.

[2016-04-25 15:36] clubanderson commented on #386
help?

[2016-04-25 16:16] chuckchiam commented on #386
FYI, there is a community forum at https://community.emc.com/community/products/scaleio with a lot of  infrastructure minded folks (including people from ScaleIO engineering) that can help to answer these nuts and bolts type of questions.  It will always be the quickest way for you to get an answer around something like what your experiencing, which is smack in the middle of product configuration,

[2016-04-25 20:53] thbeh commented on #390
So currently I am using contiv's  volplugin driver for my docker container (which mount my ceph pool).  Not sure whether that driver works with rexray.

Alternatively I could use filesystem created on top of Ceph but would rexray able to use with host filesystem (I did not see any examples doing so)?

[2016-04-25 23:55] clintonskitson commented on #390
For a driver to work with RR it must be written to satisfy what RR expects from methods. So because it works in another package doesn't mean it works in RR. For Ceph to work, there needs to be some translation between other drivers.

[2016-04-25 23:57] thbeh commented on #390
Ok. noted. Will see how to move forward using RR. Thank.

I can close this.

[2016-04-27 09:21] NetworkZIGI opened #391 "Question: Do I have to use AWS EC2 in case if I use a driver as REX-Ray?"
Do I have to use AWS EC2 in case if I use a driver as REX-Ray?

[2016-04-27 10:09] tobilg commented on #390
Probably it would also make sense to have a look at [h0tbird/docker-volume-rbd](https://github.com/h0tbird/docker-volume-rbd) as a starting point. I'd be really happy if Ceph could be supported in RexRay. I think this would be beneficial to the project, because IMHO there is a large user base of Ceph.

[2016-04-27 10:47] kacole2 commented on #391
@NetworkZIGI no, AWS is not a hard requirement. REX-Ray supports the following storage platforms:
Amazon EC2 (EBS), Google Compute Engine (Disk), Open Stack (Cinder), Rackspace (Cinder), EMC (ScaleIO, XtremIO, VMAX, Isilon), and Virtual Box (Virtual Media).

You can read about each of them and how to configure them in the docs at: http://rexray.readthedocs.org/en/master/

If there is a storage pla

[2016-04-27 13:24] h0tbird opened #392 "Virtualbox: storage controller not found"
I am using the Virtualbox storage driver. I can create volumes but I can't attach volumes to my docker host. This is my current `REX-Ray` version:
[code]
... and my config:
[code]

... and this is the error I get:
[code]

I have a `SATA` controller (as documented) but my primary controller is `IDE`. I boot `CoreOS` from my IDE controller:

![screen shot 2016-04-27 at 15 23 16](https://cloud.github

[2016-04-27 13:57] h0tbird commented on #392
I have removed the `IDE` controller but I get the same error:
[code]

![screen shot 2016-04-27 at 15 55 28](https://cloud.githubusercontent.com/assets/417440/14854613/b50ebb92-0c90-11e6-8904-d0dbb71ddcb6.png)

[2016-04-27 14:00] h0tbird commented on #392
Ah! Sorry, I am running VirtualBox `5.0.18` on OSX `10.11.3`

[2016-04-27 14:13] clintonskitson commented on #392
There is a configuration option for VirtualBox to set your controller name.
In your case that option should say SATA. Can you try that?

On Wednesday, April 27, 2016, Marc Villacorta <notifications@github.com>
wrote:

[2016-04-27 14:18] h0tbird commented on #392
As you can see in the screenshots the name is already `SATA`.
I have this line in my `Vagrantfile`:
[code]

[2016-04-27 15:27] clintonskitson commented on #392
See the REX-Ray configuration.

http://rexray.readthedocs.org/en/stable/user-guide/storage-providers/#configuration_5

`  controllerName: name`

[2016-04-27 15:34] h0tbird commented on #392
Thank you @clintonskitson I am aware of that, the documentation says:

My `/etc/rexray/config.yml` configuration file already has `controllerName` defined although it is not really needed because I am using the default `SATA` name. Again, here you have my config:

[code]

[2016-04-27 15:42] clintonskitson commented on #392
@h0tbird Is it possible that you have two vbox instances with the same MAC address? The lookup for the machine is occuring via the MAC address and this could cause it to not be able to find the proper vbox instance.

[2016-04-27 16:00] h0tbird commented on #392
Yes I do, I was not aware of that:
[code]

[code]

I don't understand why Vagrant is doing that but I will modify my `Vagrantfile` to generate random MACs. I don't know how to do that... I will google for it...

[2016-04-27 16:01] clintonskitson commented on #392
See here https://github.com/emccode/vagrant/blob/master/playa-mesos/Vagrantfile#L62

[2016-04-27 16:11] h0tbird commented on #392
Awesome! That worked. One million thanks! Great 👍

[2016-04-27 16:11] #392 closed

[2016-04-27 20:18] LudicrousSpeed opened #394 "EBS Encryption"
Is this possible to default to true. We would like to have all of our volumes encrypted.

[2016-04-27 20:22] clintonskitson commented on #394
Not currently. This has been requested before and in the most recent release we started using the AWS SDK directly which enables this functionality. I would be open for this functionality and encryption performed by the storage platforms as a configurable option.

[2016-04-27 21:49] clintonskitson commented on #394
@LudicrousSpeed By the way, I believe it would be a single option applied to this section of code.

https://github.com/emccode/rexray/blob/master/drivers/storage/ec2/ec2.go#L517-L522

[2016-04-27 22:12] LudicrousSpeed commented on #394
Thanks I just added that as we always want our data encrypted.

Much appreciated.

[2016-04-28 05:17] NetworkZIGI commented on #391
I means...
If when I use Local Server(or VM), Can I use AWS EBS as REX-Ray volume driver?
I had not succeeded in connecting the AWS EBS as REX-Ray volume driver on the EC2 server.
I couldn't connected to AWS EBS as REX-Ray volume driver on the Local Server.

=== Local Server Error ===
[root@localhost ~]# rexray volume list -l debug
DEBU[0000] updated log level  logLevel=debug
INFO[0000] [linux]
IN

[2016-04-28 14:04] a-nldisr commented on #390
It should be possible to place Ceph as a volume driver in cinder and expose rbd's through Cinder that way. At this very moment i am setting up a Cinder environment (with galera and keystones) on Mesos to test this theory.

[2016-04-28 15:36] LudicrousSpeed opened #395 "Build issues?"
Running the following

SRC=$(mktemp -d 2> /dev/null || mktemp -d -t rexray 2> /dev/null) && cd $SRC && docker run --rm -it -e GO15VENDOREXPERIMENT=1 -v $SRC:/usr/src/rexray -w /usr/src/rexray golang:1.5.1 bash -c "git clone https://github.com/emccode/rexray.git -b master . && make build-all"

I see the error

...building rexray Darwin-x86_64...vendor/github.com/spf13/viper/viper.go:39:2: cannot fi

[2016-04-28 15:43] LudicrousSpeed commented on #395
I am also seeing an issue when building locally on my mac book pro.

vendor/github.com/emccode/govmax/api/v1/vmomi.go:219: storageSystem.RescanAllHba undefined (type *object.HostStorageSystem has no field or method RescanAllHba)

[2016-04-28 16:56] LudicrousSpeed commented on #395
It looks like the second one is an error with the vmomi package https://github.com/emccode/govmax/issues/4

[2016-04-28 19:46] cduchesne opened #396 "debugging details for storage driver initialization"
When running the rexray cli with "-l debug", I don't get the sense that there is any useful information to help me debug an issue with a storage driver. I have been specifically using ScaleIO in my testing and frequently run into a challenge here or there, mostly due to my fault of course, where the issue should easily be noticeable if some more details were presented to the console via "-l debug"

[2016-04-29 01:40] thbeh commented on #390
There' a standalone Ceph sandbox that can be created easily without Cinder
- https://github.com/ceph/ceph-docker

I am using this to test Ceph and workable binding to block devices. But I
just not sure how to integrate with RR/Mesos.

On Fri, Apr 29, 2016 at 2:04 AM, Rogier Dikkes <notifications@github.com>
wrote:

[2016-04-29 02:11] clintonskitson commented on #396
Thanks @cduchesne. We are addressing this in 0.4.0 which will rectify the problem for all drivers during the initialization phase.

[2016-04-29 02:19] clintonskitson commented on #395
@LudicrousSpeed I just ran the same test as you and am encountering the same error. I will investigate further. Thank you for filing the issue.

[2016-04-29 02:49] clintonskitson commented on #395
@LudicrousSpeed Can you give the following command a try?

`SRC=$(mktemp -d 2> /dev/null || mktemp -d -t rexray 2> /dev/null) && cd $SRC && docker run --rm -it -e GO15VENDOREXPERIMENT=1 -v $SRC:/usr/src/rexray -w /usr/src/rexray golang:1.5.1 bash -c "git clone https://github.com/emccode/rexray.git -b master . && make build-all"`

[2016-04-29 02:50] clintonskitson commented on #395
@LudicrousSpeed Repost.. can you give the following command a try?
[code]

[2016-04-29 02:50] clintonskitson commented on #395
I believe the command we had before for building was failing to properly download dependencies.

[2016-04-29 02:54] clintonskitson commented on #391
@NetworkZIGI REX-Ray requires that the instance you are running REX-Ray from have access to the storage that you are requesting. In the case of AWS, you must be running RR from an EC2 instance.

This is a limitation of the storage platforms. The bits and bytes from the the EBS volume get plumbed by AWS through your EC2 instance.

[2016-04-29 14:42] jvanns opened #397 "Rexray out of sync if EBS volume removed externally"
Version/release: 0.3.3-1 on Ubuntu 14.04 LTS

This is quite simple (assume EBS backend storage):

1) docker create volume -d rexray --name=foobar --opt=size=1
Now delete the EBS volume via the AWS CLI or console

2) docker volume ls | grep foobar
Volume is absent

3) docker create volume -d rexray --name=foobar --opt=size=1
Volume is not recreated through command succeeds and returns zero

This do

[2016-04-29 14:48] clintonskitson commented on #397
What version of docker is this? I believe this is a known issue prior to
Docker 1.10.

On Friday, April 29, 2016, James Vanns <notifications@github.com> wrote:

[2016-04-29 14:56] jvanns commented on #397
Docker 1.11.0 ;)

[2016-04-29 14:58] clintonskitson commented on #397
Can you try and use the disablecache option?

On Friday, April 29, 2016, James Vanns <notifications@github.com> wrote:

[2016-04-29 15:01] clintonskitson commented on #397
Also this could be related to another docker issue. Are all containers that
used the volume completely removed? Even though volumes aren't listed
docker may be holding onto the volume due to the container requiring it
still being present.

On Friday, April 29, 2016, Clinton Kitson <clintonskitson@gmail.com> wrote:

[2016-04-29 15:28] LudicrousSpeed commented on #395
I tried the command you have above and am still seeing an issue.

...building rexray Linux-i386...vendor/github.com/spf13/viper/util.go:25:2: no buildable Go source files in /go/src/github.com/emccode/rexray/vendor/github.com/magiconair/properties

[2016-04-29 15:33] clintonskitson commented on #395
Interesting. Did the build actually succeed at the end? Any chance network
flakiness could be occurring? Is this running from in VirtualBox on docker
machine?

On Friday, April 29, 2016, LudicrousSpeed <notifications@github.com> wrote:

[2016-04-29 15:44] jvanns commented on #397
Yes, all containers that used the volume are removed - I checked that before (but didn't mention it). I'll try the disable cache option.

[2016-04-29 15:45] clintonskitson commented on #397
Doing a full clean on all containers is a good bet just in case, if u can
remove all containers that is.

docker rm -f $(docker ps -qa)

On Friday, April 29, 2016, James Vanns <notifications@github.com> wrote:

[2016-04-29 15:49] jvanns commented on #397
To be clear; there are no running or stopped containers left on the same host.

[2016-04-29 15:55] clintonskitson commented on #397
Thanks.

Try and enable logging as well from RR.

rexray:
  logLevel: debug

This will describe all of the activities taking place.

On Friday, April 29, 2016, James Vanns <notifications@github.com> wrote:

[2016-04-29 16:21] jvanns commented on #397
It appears this doesn't happen when using the 'rexray' CLI - only via docker. Here is the output of;

docker volume create -d rexray --name foobar -o size=1

After a delete of an EBS volume of the same name through the console

time="2016-04-29T16:20:50Z" level=info msg=vdm.Path driverName=docker moduleName=default-docker volumeID= volumeName=foobar
time="2016-04-29T16:20:50Z" level=info msg="gett

[2016-04-29 17:16] clintonskitson commented on #397
1) Stop and remove your containers
2) `sudo rexray stop`
3) `sudo rexray start -f -l debug` (in it's own terminal possibly)
4) Simulate your scenario and watch the events that come through RR

Does Docker request a `/VolumeDriver.Create` from us when you do the `docker volume create`?

[2016-04-29 17:22] LudicrousSpeed commented on #395
I cannot get it to finish.

OSX yosemite 10.10.5 running docker machine with docker 1.9.1

I will look a little deeper in a little bit.

[2016-04-29 17:26] clintonskitson commented on #395
The build process because of storage package dependencies is pretty substantial. This command should be close to what you need for a bigger VM. The good thing on our side is that we do builds with each commit from Travis-CI, so we know that the build process does work from scratch on clean systems with good network connectivity. The example though as we discussed was not up to date which was causi

[2016-04-30 03:15] clintonskitson commented on #395
@LudicrousSpeed I spent some more troubleshooting this and I believe I found the issue. There was a `&` which should have been '\&` which may be the culprit.

Let us know if the new build command works after editing the Makefile. Thanks!
https://github.com/emccode/rexray/blob/ff0358301aecb24cba1894fd109bd40821a55d6c/Makefile#L7

https://github.com/emccode/rexray/pull/398

[2016-05-02 04:44] LudicrousSpeed commented on #395
Tried building again tonight with a docker machine created per your specs. Still seeing issues.

  ...building rexray Linux-x86_64...# github.com/emccode/rexray/vendor/github.com/emccode/libstorage/api/client
vendor/github.com/emccode/libstorage/api/client/client_http.go:75: undefined: http.MethodHead
Makefile:228: recipe for target 'build_' failed
make[1]: *** [build_] Error 2
Makefile:283: recip

[2016-05-02 05:49] clintonskitson commented on #395
You're actually pulling in tip of master there on the 0.4.0 build which is
beubg worked on. If you reset to he v0.3.3 tag before building you should
be good.

On Sunday, May 1, 2016, LudicrousSpeed <notifications@github.com> wrote:

[2016-05-04 09:07] taik0 commented on #123
This would be something very nice to have. All my instances use instance-profiles and don't want to have keys in my repos.

+1

[2016-05-04 13:18] mixja opened #405 "AWS EC2: The scope of Docker volumes should (MUST) be local"
I like the look of rexray and have been testing it out as a replacement for convoy, which is flaky with Docker 1.10+.

But there's a fundamental design issue that needs to be addressed.

The context of docker volumes needs to be specific to the host.  The current methodology of allowing access to all EC2 volumes via docker is dangerous and a recipe for disaster.  E.g. `docker volume rm $(docker vo

[2016-05-06 00:30] raphtheb opened #410 "Handle phantom mounts on certain EC2 instance types"
Hello! Was asked to capture my findings into an issue on the slack channel.

Starting a few months ago i had some issues regarding this specific error message, using a CoreOS AMI on aws.
[code]

After quite a lot of digging, i believe i’ve found that the root cause is the "phantom" mount of ephemeral devices on certain EC2 instance types. The bottom of [this document ](https://docs.aws.amazon.com/

[2016-05-07 02:21] clintonskitson commented on #405
@mixja The suggestion sounds reasonable. But you are assuming that only a single host can access the EBS volumes. In this case you wouldn't be using the containers using any clustering technology. Meaning, if a host fails, there would be no ability to spin up the container with the volume on another host.

Thoughts?

[2016-05-07 02:21] clintonskitson commented on #410
Thank you for filing this @raphtheb, we will definitely add this to the list for the EC2 driver.

[2016-05-07 04:52] mixja commented on #405
In this scenario you would need a unique cluster/group tag so that all cluster members can manage the volumes.

So perhaps use the defined rexray tag if defined (essentially a cluster/group tag), otherwise auto-generate a unique ID.  Without understanding the cluster use cases, you might even want an individual system tag and a cluster/group tag.

The key thing though is that at a minimum for the

[2016-05-07 06:29] clintonskitson commented on #372
Available in upcoming libstorage 0.1 https://github.com/emccode/libstorage/pull/107

[2016-05-07 06:29] #372 closed

[2016-05-07 20:32] clintonskitson commented on #123
This support was added in 0.3.3 via https://github.com/emccode/rexray/pull/359

[2016-05-07 20:32] #123 closed

[2016-05-07 23:19] jeacott commented on #361
+1

[2016-05-09 22:03] clintonskitson commented on #396
This is fixed in 0.4.0.  See the following example.

[code]

[2016-05-09 22:03] #396 closed

[2016-05-09 22:03] clintonskitson commented on #395
@LudicrousSpeed Did you get through your build problems?

[2016-05-09 22:04] #391 closed

[2016-05-09 22:04] clintonskitson commented on #389
@gonzalomarcote Were you able to get this working properly?

[2016-05-09 22:04] clintonskitson commented on #386
@clubanderson Were you able to resolve this?

[2016-05-09 22:32] clubanderson commented on #386
No. We didn't. We are looking at solidfire now. But that still requires rexray. Maybe we will revisit it soon.

Andy

[2016-05-10 01:01] akutz commented on #138
Hi @clintonskitson, would you like to handle this closure? This has been your vision come to fruition, so you should do the honors.

[2016-05-10 05:15] clintonskitson commented on #138
Yes I will, thank you!

[2016-05-10 05:15] #138 closed

[2016-05-10 05:17] clintonskitson commented on #386
Ok, just wanted to give a few lines if you were also inclined to try it again. I use the following to install the SDC client on Ubuntu nodes with no issues like what you mentioned.

[code]

[2016-05-10 08:17] gonzalomarcote commented on #389
Yes. I have tried it again with the latest rexray debian package (0.3.3-1) and daemon rejects to start:
`
# systemctl status rexray.service
● rexray.service - rexray
   Loaded: loaded (/etc/systemd/system/rexray.service; enabled)
   Active: inactive (dead)

May 10 10:02:33 rexray rexray[454]: ⌐▄Q▓▄Ç▓▄,▄_
May 10 10:02:33 rexray rexray[454]: Σ▄▓▓▓▓▓▓▓▓▓▓▄π
May 10 10:02:33 rexray rexray[454]: ╒▓▓▌▓▓▓

[2016-05-10 12:07] clubanderson commented on #386
The problem was trying to get this to install as part of mesos containerization. With mesos being inside a container itself.

Andy

[2016-05-10 12:33] pacoxu opened #424 "Rexray can not start without "-f""
I have to use "rexray service start -f" to start my service.

[root@scale158 ~]# rexray service start
● rexray.service - rexray
   Loaded: loaded (/etc/systemd/system/rexray.service; enabled; vendor preset: disabled)
   Active: active (running) since 二 2016-05-10 20:30:27 CST; 38ms ago
 Main PID: 32414 (systemd)
   Memory: 0B
   CGroup: /system.slice/rexray.service
           └─32414 /usr/lib/syst

[2016-05-10 20:36] akutz commented on #424
Hi @pacoxu,

This is not a bug; it's by design. In fact, if you use the `REX-Ray` [service installer](http://rexray.readthedocs.io/en/stable/user-guide/installation/#install-a-pre-built-binary) actually creates a unit file for SystemD (which you appear to be using) that includes the `-f` flag. The excerpt below [is the template](https://github.com/emccode/rexray/blob/master/rexray/cli/installer.go

[2016-05-11 01:31] feniix opened #425 "Invalid value "/dev/xvdb" for unix device. Attachment point /dev/xvdb is already in use"
I am getting this error which is weird because I do not think the device is in use:

**rexray volume create --size 10 --volumename=test --volumetype=gp2**

[code]

**docker run -it --volume-driver=rexray -v test:/test busybox sh**

[code]

**lsblk**

[code]

Here is the rexray config
**cat /etc/rexray/config.yml**

[code]

**uname -a && docker version && rexray version**

[code]

[2016-05-11 03:26] James-Dao opened #426 "cpu usage is 100%"
sometimes, cpu usage of rexray will use 100%, at this time , "rexray status" shows that rexray is not running and can not start it with "rexray start".  I want to kill the process, but it fails,  i must force outage.

[2016-05-11 03:39] kacole2 commented on #426
@James-Dao for us to properly assist, can you provide the following information:
 - Environment (AWS, vSphere)
 - OS Type and Version
 - Linux Kernel Version
 - Docker Version
 - REX-Ray Version
 - logging output from `rexray service start -l debug`

[2016-05-11 03:48] LudicrousSpeed commented on #395
I finally got the 0.3.3 tag to build. However I think it is not right, cause when I deployed it I got a not executable. Then before I headed out of town I could no longer build 0.3.3. I have not been successful with master yet...

I will hopefully have time tomorrow to look at this again.

Thanks!

[2016-05-11 03:49] LudicrousSpeed commented on #395
Sorry to be more clear the not executable was not a chmod thing it was like the bin was not an actual functioning binary. I am certain I pulled the x64 and that was what it was running on.

[2016-05-11 07:14] James-Dao commented on #426
I will paste the log when running into it next time

[2016-05-11 08:44] leokhoa opened #427 "Rexray causes AWS EBS inaccessible?"
Hi,
Attaching & Detaching EBS using rexray may cause EBS inaccessible.
Steps:

1)  Create a volume:

[code]

2)  Run docker on a node: nodeA

[code]

Result ----------> Volume postgresql will be attached with nodeA

3) Run docker on another node: nodeB (Volume postgresql is still attached with nodeA)

[code]

Result ----------> Volume postgresql will be auto detached from nodeA and attached to nod

[2016-05-11 15:19] kacole2 commented on #427
@leokhoa i'll look into this for you. Thanks for sharing your reproduction steps. Is there a certain public AMI you used?

[2016-05-11 15:43] clintonskitson commented on #427
@leokhoa Thank you for the information.

I believe you are running into issues relation to your expectations around `pre-emption`. The expectation for this feature today is that a container scheduler has decided that a container must be started elsewhere and it has no ability to contact the host to stop the container and thus detach the volume (host down).

What you are describing look to relate t

[2016-05-11 15:45] clintonskitson commented on #425
@fenlix See https://github.com/emccode/rexray/issues/410

There is an outstanding issue with AWS where some AMI's maintain private hidden mounts that RR does not account for today.

[2016-05-11 15:47] clintonskitson commented on #405
Thanks for the feedback @mixja. We will look at incorporating this into enhancements to the EC2 driver.

[2016-05-11 17:42] kacole2 commented on #427
@clintonskitson i'm noticing similar behavior. The first failover works without issue. However, subsequent failovers are not working.

I have restarted the REX-Ray service on each host and also `rexray volume detach --volumeid=XYX` to verify it's at an "available" state within AWS and not tied to a single host. When trying to recreate the container again with
[code]

Debug output:
[code]

the dock

[2016-05-11 17:59] clintonskitson commented on #427
@kacole2 I am assuming that a reboot on the instances will subsequently clear up the behavior. Can you try an earlier AMI than CentOS 7.2?

[2016-05-11 18:01] clintonskitson commented on #395
You could try a `make` by itself to build more executables. The one I specified is if you're on an x86_64 architecture. This would cause issues if you were trying to use it on OSX, etc.

[2016-05-11 18:10] LudicrousSpeed commented on #395
So my coworkers fixed the problem when I was out.

They added two things

make clean and then make only the version we need by specifying make build-linux-and64

Thanks for all of your help!

[2016-05-11 18:24] clintonskitson commented on #395
Great, is there anything we can do for the documentation that may help others here? The fix that I mentioned is already committed for the race condition you were initially experiencing.

[2016-05-11 23:51] kacole2 commented on #427
@clintonskitson correct. A reboot of the host clears up the behavior. I'll add this to the documentation so it's more clear

[2016-05-12 08:17] pilgrim2go opened #428 "rexray cause Docker slow in AWS (EBS)"
See my result

[code]

The above output saying that if we have rexray running, it causes Docker ps slow.

[code]

Rexray version

[code]

[2016-05-12 10:35] leokhoa commented on #427
@kacole2: I've updated the AMI : ami-c74789a9
You're right, subsequent failovers will not work and make the EBS spinning forever.
Reboot the instances helps, but I expect timeout and no need to reboot instances as I'm using Docker Swarm cluster.
Here is support message from AWS team:

We've taken a look and it looks like you may not have unmounted that volume before detaching it. This would have m

[2016-05-12 17:30] clintonskitson commented on #428
@pilgrim2go A good thing to do would be to run rexray in debug mode to verify what is actually occurring during the `docker ps` event. Can you start RR as `rexray start -l debug -f` and report the findings?

[2016-05-12 17:35] clintonskitson commented on #427
@leokhoa Thank you for checking with AWS on this. The scenario should be reproduceable without RR where they can verify the bug on their end.  I would succinctly present the workflow as the following.

1) Attach volume on Host #1
2) Mount volume on Host #1
3) Do a forceful detach from the AWS console of the volume
4) Attach volume to Host #2
5) Mount volume on Host #2
4) Do a forceful detach from

[2016-05-13 02:36] pilgrim2go commented on #428
I tried
```rexray start -l debug -f```
but when running ```docker ps```, no event displayed in rexray console.
It just hang.

[2016-05-13 02:37] clintonskitson commented on #428
Can you review your /etc/docker/plugins and /run/docker/plugins directory? These are where docker looks for the plugins in which it wishes to work with. Try clearing out these directories and see how Docker responds.

[2016-05-13 04:25] pilgrim2go commented on #428
Ok here are my steps and hope it shed some light

1) Create volume
[code]
2) Mount data volume
[code]

3) Up
[code]

4) Check if Docker hang
[code]

5)  try removing per suggestion
[code]

6) Still hang
[code]
7) try stopping
[code]

8)  Able to see docker processes
[code]

[2016-05-13 13:35] kacole2 commented on #428
@pilgrim2go try doing this. Change your `/etc/rexray/config.yml` file to look like the following so the logging output is in debug.

[code]

Then `tail -f /var/log/rexray/rexray.log` to watch the logging output on a different console window.

Also, why did you comment out `volume_driver` in your docker compose file? That necessary to have so the command is ran and it looks for the volume driver to

[2016-05-13 13:38] kacole2 commented on #428
@pilgrim2go can you also tell us the following:

- AMI
- Ubuntu Version
- Kernel Version
- Docker Version

From my config file above, preemption doesn't work with Ubuntu in AWS per http://rexray.readthedocs.io/en/latest/user-guide/config/#volume-configuration

[2016-05-13 13:49] clintonskitson commented on #428
It might also be worth a try to stop fresh with Docker. If you stop the
Docker service and remove the /var/lib/docker directory, and start Docker
again it will be a clean start. From there give your process a try again.

On Friday, May 13, 2016, Kendrick Coleman <notifications@github.com> wrote:

[2016-05-13 19:49] clintonskitson commented on #424
@pacoxu Can you close this issue if you are satisfied with the response?

[2016-05-13 19:50] clintonskitson commented on #397
@jvanns Any more information here?

[2016-05-13 19:52] clintonskitson commented on #386
Yes that can present another challenging level. Can we close this issue or is there anything we can help with on followup?

[2016-05-13 20:56] echupriyanov commented on #405
@clintonskitson

Thanks for mentioning this issue.

I'd suggest not to remove snapshot tagging, but make it optional in rexray config.
Regarding dangerous operations like `docker volume rm` or mounting same volume to different hosts, those case can be handled internally, by checking if volume is already attached first.

Another idea is to make tagging more flexible, i.e. pass set of tags/values us

[2016-05-14 04:06] #424 closed

[2016-05-14 04:06] pacoxu commented on #424
@clintonskitson Thanks a lot.

[2016-05-14 06:13] gufranmmu opened #430 "ERROR initializing driver driverName=ec2 error.provider=ec2 no storage driver initialized."
eucatools works
s3cmd works
with provided endpoint-url:
`aws --endpoint-url http://compute.esclor86.eecloud.net:8773/  ec2 describe-volumes` works as well

I used rex-ray ansible to install rexray stable version

but, rexray gives error: no storage driver initialized when running without -f and
then I started with **"rexray service -f -l debug"** command and I get the following error:
DEBU[0000] c

[2016-05-14 06:38] gufranmmu commented on #430
And, how to provide --endppoint-url for aws in rex-ray config?
http://docs.aws.amazon.com/cli/latest/reference/

[2016-05-14 08:22] gufranmmu opened #431 "how to provide endpoint-url in conig file for ec2 storage?"

[2016-05-14 11:49] kacole2 commented on #430
@gufranmmu  this is a new use case for us. We don't have support for specifying the endpoint url. I will tag this as a feature request and see if it can be baked into the 0.4.0 release when it has to be refactored into libStorage.

[2016-05-14 11:50] kacole2 commented on #431
Can you please close this out and we will track in #430

[2016-05-14 15:41] #431 closed

[2016-05-14 15:47] gufranmmu commented on #430
Hi, Thank you very much! Please do try to bundle it with the coming release.When is the 0.4.0 release coming?

[2016-05-14 16:39] gufranmmu commented on #430
By default, the Amazon EC2 CLI tools use the US East (Northern Virginia) region (us-east-1) with the ec2.us-east-1.amazonaws.com service endpoint URL. To access a different region with the CLI tools, you must set the EC2_URL environment variable to the proper service endpoint URL.

To set the service endpoint URL

To list your available service endpoint URLs, call the ec2-describe-regions command.

[2016-05-14 20:30] kacole2 commented on #430
@gufranmmu it's currently in RC status. This is a complete re-architecting to move this forward with the libStorage project. https://github.com/emccode/rexray/releases/tag/v0.4.0-rc1

[2016-05-14 21:46] clintonskitson commented on #430
@gufranmmu The plan is to re-introduce EC2 in 0.4.1 a part of the 0.1.1 release of libStorage.

In the meantime, you could do this with 0.3.3 if you make a couple of small tweaks and compile it on your own.

The following is a method for `WithEndpoint("endpoint")` that can be chained on the `NewConfig` line.
https://github.com/aws/aws-sdk-go/blob/master/aws/config.go#L170-L173

You can edit this l

[2016-05-14 22:12] cduchesne opened #432 "docker swarm - additional rexray volumes listed for each host"
When using rexray with docker swarm, volumes are listed 1x for each docker host in the swarm.

Below I have 3 volumes and 4 docker swarm hosts. From the docker swarm manager, I see 12 volumes instead of 3.
[code]

When I go to delete volumes, I use the uniq command to remove duplicates, and in the process of "docker volume rm", I see a lot of warnings / errors. There are 3 errors per volume rm, mo

[2016-05-15 00:55] gufranmmu commented on #430
Thank you! I was trying to check that myself too. I will let you know after testing. Meanwhile:
Why don't you have drivers folder in here: https://github.com/emccode/rexray ?

[2016-05-15 01:09] clintonskitson commented on #430
If you go back in the commit history you will find 0.3.3. This is where RR
still had drivers. The following commit would be where you start from.

https://github.com/emccode/rexray/commit/ff0358301aecb24cba1894fd109bd40821a55d6c

On Saturday, May 14, 2016, gufranmmu <notifications@github.com> wrote:

[2016-05-15 01:44] gufranmmu commented on #430
Thanks! I actually took the b30fb870b5b94cd8368824460ad020bfcf20be3a commit and trying to make the rpm. Which make and go and go-bind versions are you using?

Here are mine:
[root@mesos-slave-1 rexray]# make version
SemVer: 0.4.0-rc1
RpmVer: 0.4.0+rc1
Binary: Linux-x86_64
Branch: release/0.4.0
Commit: 4cff7bd5f62279b2f2f5ebc9acf432c2daa6e762
Formed: Sun, 15 May 2016 04:41:43 EEST
[root@mesos-slave

[2016-05-15 02:03] clintonskitson commented on #432
@cduchesne How many volumes are actually present on the backend system?

[2016-05-15 02:04] clintonskitson commented on #432
See another related issue that has been reported and linkage to Docker's issues for it.

https://github.com/emccode/rexray/issues/380

[2016-05-15 02:05] clintonskitson commented on #432
Also see the Swarm issue.

https://github.com/docker/swarm/issues/1970#issuecomment-218521815

[2016-05-15 02:11] gufranmmu commented on #430
And with the branch https://github.com/emccode/rexray/commit/ff0358301aecb24cba1894fd109bd40821a55d6c you suggested:

SUCCESS!
target: install
  ...installing rexray Linux-x86_64...core/drivers_os.go:10:2: no buildable Go source files in /usr/bin/src/github.com/emccode/rexray/core/errors
daemon/daemon_modules.go:7:2: no buildable Go source files in /usr/bin/src/github.com/emccode/rexray/daemon/mod

[2016-05-15 02:13] clintonskitson commented on #430
It doesn't look like you have a clean start from that commit. Have you performed a `git reset --hard ff0358301aecb24cba1894fd109bd40821a55d6c`?

[2016-05-15 02:29] gufranmmu commented on #430
Thanks!
[root@mesos-slave-1 rexray]# git reset --hard ff0358301aecb24cba1894fd109bd40821a55d6c
HEAD is now at ff03583 Fixed fork process that occured during silent builds
 and it **didn't work**

So, I took a new clone of the repo. I checkout out ff0358301aecb24cba1894fd109bd40821a55d6c and edited the ec2.go and tried to make.

Here are the make errors:
[make_errors_new.txt](https://github.com/emc

[2016-05-15 02:40] clintonskitson commented on #430
Question, are you trying to build this from $GOPATH/src/github.com/emccode/rexray? If not then all kinds of weird vendoring issues will arise since Go depends heavily on this path.

The proper way to do this would be to create the emccode directory. Then clone your fork into that repo.

[2016-05-15 02:42] cduchesne commented on #432
@clintonskitson - the correct # of volumes (3) are on the scaleio backend. It just seems like docker swarm is checking "docker volume ls" on every host and every volume is being seen by each. When removing a volume, docker is removing based on seeing the same volume n times (where n is the number of hosts) and tries to remove it n times. It could very well be a docker swarm specific issue.

[2016-05-15 02:54] gufranmmu commented on #430
[root@mesos-slave-1 emccode]# pwd
/usr/bin/src/github.com/emccode

[root@mesos-slave-1 emccode]# ls -lah
total 28K
drwxr-xr-x  7 root root 4.0K May 15 05:27 .
drwxr-xr-x 26 root root 4.0K May 15 04:54 ..
drwxr-xr-x  4 root root 4.0K May 14 12:37 goisilon
drwxr-xr-x  7 root root 4.0K May 14 12:37 goscaleio
drwxr-xr-x  4 root root 4.0K May 15 04:54 govmax
drwxr-xr-x  4 root root 4.0K May 15 04:54 go

[2016-05-15 02:56] clintonskitson commented on #430
`echo $GOPATH`

[2016-05-15 02:57] gufranmmu commented on #430
[root@mesos-slave-1 emccode]# echo $GOPATH
/usr/bin/
You have mail in /var/spool/mail/root
[root@mesos-slave-1 emccode]# pwd
/usr/bin/src/github.com/emccode

[2016-05-15 02:58] gufranmmu commented on #430
[root@mesos-slave-1 emccode]# which go
/usr/bin/go
You have mail in /var/spool/mail/root

[2016-05-15 03:00] clintonskitson commented on #430
See the line that says `rexray -> /root/rexray`? That means RR is linked to root which isn't normal. Try removing that and doing a clean `git clone` into the $GOPATH. Then `git reset --hard commitid`. The linking you are seeing there is an artifact of running the Make from outside the $GOPATH at some point.

[2016-05-15 03:05] clintonskitson commented on #432
Would agree there. Great to document it here and link to the existing Swarm thread around how it can work better with volumes to get them visibility to another issue.

The "global uniqueness" of a volume is actually another big topic based on how the Swarm -> Engine(s) -> REX-Ray(s) works today. The existing assumption is that the name&driver brings the uniqueness. A proper ask here would probably

[2016-05-15 03:10] gufranmmu commented on #430
Thanks! Cloned it to $GOPATH: /usr/bin/rexray

[root@mesos-slave-1 rexray]# git reset --hard ff0358301aecb24cba1894fd109bd40821a55d6c
HEAD is now at ff03583 Fixed fork process that occured during silent builds

[root@mesos-slave-1 rexray]# pwd
/usr/bin/rexray

[2016-05-15 03:11] gufranmmu commented on #430
Thanks! I tried two ways:

[2016-05-15 03:20] gufranmmu commented on #430
Thanks! I tried two ways:
First cloned the repo in: /usr/bin/src/github.com/emccode/rexray
[root@mesos-slave-1 emccode]# cd rexray/
[root@mesos-slave-1 rexray]# git reset --hard ff0358301aecb24cba1894fd109bd40821a55d6c
HEAD is now at ff03583 Fixed fork process that occured during silent builds

[root@mesos-slave-1 emccode]# ls -lah
total 32K
drwxr-xr-x  8 root root 4.0K May 15 06:14 .
drwxr-xr-x 2

[2016-05-15 03:23] clintonskitson commented on #430
K so let's start from scratch here =)

mkdir -p /go/src/github.com
export GOPATH=/go
cd /go/src/github.com
git clone https://github.com/emccode/rexray
cd rexray
git reset --hard commitid
make -j

On Saturday, May 14, 2016, gufranmmu <notifications@github.com> wrote:

[2016-05-15 03:29] gufranmmu commented on #430
Okay, here is the result :(

[root@mesos-slave-1 bin]# mkdir -p /go/src/github.com
[root@mesos-slave-1 bin]# export GOPATH=/go
[root@mesos-slave-1 bin]# cd /go/src/github.com
[root@mesos-slave-1 github.com]# git clone https://github.com/emccode/rexray
Cloning into 'rexray'...
remote: Counting objects: 3229, done.
remote: Compressing objects: 100% (41/41), done.
remote: Total 3229 (delta 18), reuse

[2016-05-15 03:36] gufranmmu commented on #430
Which versions of golang, go-binddata and make versions are you using. Here are more details:

[root@mesos-slave-1 rexray]# cat /etc/*-release
CentOS Linux release 7.2.1511 (Core)
centos-7.2 2016-02-04
NAME="CentOS Linux"
VERSION="7 (Core)"
ID="centos"
ID_LIKE="rhel fedora"
VERSION_ID="7"
PRETTY_NAME="CentOS Linux 7 (Core)"
ANSI_COLOR="0;31"
CPE_NAME="cpe:/o:centos:centos:7"
HOME_URL="https://www.

[2016-05-15 03:37] clintonskitson commented on #430
My fault..

cd /go/src/github.com/emccode

On Saturday, May 14, 2016, gufranmmu <notifications@github.com> wrote:

[2016-05-15 03:42] gufranmmu commented on #430
Thanks, but with no luck :(
[errors-new.txt](https://github.com/emccode/rexray/files/264829/errors-new.txt)

[2016-05-15 03:44] clintonskitson commented on #430
Missed the git reset hard

On Saturday, May 14, 2016, gufranmmu <notifications@github.com> wrote:

[2016-05-15 03:48] gufranmmu commented on #430
ooops but even with reset i get same errors :(

[2016-05-15 04:09] clintonskitson commented on #430
The errors that you referenced are from commits that would be in front of the reset. Try starting over again with a clear /go directory.

[2016-05-15 04:50] gufranmmu commented on #430
Thanks for quick responses. I see same issues even in fresh instance (VM) with commit: https://github.com/emccode/rexray/commit/ff0358301aecb24cba1894fd109bd40821a55d6c
Fixed fork process that occured during silent builds

[2016-05-15 05:09] gufranmmu commented on #430
Any other ideas clinton?

[2016-05-15 05:38] clintonskitson commented on #430
So we use Travis to do build with every PR, etc so it must be something environmental.

Go 1.4.2 is your problem. You need to have 1.5x to properly build 0.3.3. The 1.5x version includes vendoring. You can look at the .travis.yml file to see the exact pre-reqs and steps for building that Travis performs with every PR.

[2016-05-15 05:57] gufranmmu commented on #430
Thanks! I
target: install
  ...installing rexray Linux-x86_64...SUCCESS!

The REX-Ray binary is 70MB and located at:

  /go/bin/rexray

:) :dancer:

[2016-05-15 07:43] gufranmmu commented on #430
config := aws.NewConfig().WithCredentials(d.ec2creds).WithRegion(region).WithEndpoint("http://compute.esclor86.eecloud.net:8773/")

or

config := aws.NewConfig().WithCredentials(d.ec2creds).WithEndpoint("http://compute.esclor86.eecloud.net:8773/").WithRegion(region)

or

config := aws.NewConfig().WithCredentials(d.ec2creds).WithEndpoint("http://compute.esclor86.eecloud.net:8773/").WithRegion(regio

[2016-05-15 09:07] gufranmmu commented on #430
I did some more debugging and found that getInstanceIdendityDocument() is returning " unexpected end of JSON input" error.

INFO[0000] IN EC2222222.go after fieldssssssss
INFO[0000] IN EC2.go printing error
INFO[0000] Error: unexpected end of JSON input

[2016-05-15 11:45] gufranmmu commented on #430
After adding this if statement in  func getInstanceIdendityDocument() ec2.go i was able to start the service, but s3 connection is not working:
[code]
DEBU[0000] checking volume path cache setting            pathCache=false
INFO[0000] sdm.GetVolume                                 driverName=ec2 moduleName= volumeID= volumeName=
FATA[0000] RequestError: send request failed
caused by: Post https://e

[2016-05-15 12:30] gufranmmu commented on #430
got aws connection working with this:
	d.ec2Instance = ec2.New(mySession, &aws.Config{Region: aws.String("eucalyptus"),
	                                               Endpoint: aws.String("http://compute.esclor86.eecloud.net:8773")})

[2016-05-15 12:52] gufranmmu opened #433 "rexray volume create command equivalent of aws ec2"
Hi,

What would be the rexray volume create/new command equivalent of the following aws ec2 command?

[code]

I am able to see the above created volume with rexray volume get --volumeid=vol-94c3707c:

[code]

How to create a volume with rex-ray command? Thanks for the help!

[2016-05-15 13:55] gufranmmu commented on #433
[code]
This command gives me the following error:

[code]

[2016-05-16 05:03] gufranmmu commented on #433
I think the function ``` createVolume() ``` first checks if the instance is already available and returns error based on that.

Got it working by removing this part```if server, err = d.getInstance(); err != nil {``` in ec2.go

I hope this helps rechecking ec2.go for the upcoming release. This might help setting up eucalyptus on single machine and testing: https://www.youtube.com/watch?v=AsIRAKNQM

[2016-05-16 05:29] clintonskitson commented on #433
@gufranmmu Thanks for the info. The getInstance() is critical during certain operations like mount and attach. It is complaining because the introspection is returning no instance ID.

https://github.com/emccode/rexray/blob/b30fb870b5b94cd8368824460ad020bfcf20be3a/drivers/storage/ec2/ec2.go#L161-L188

Specifically `http://169.254.169.254/latest/dynamic/instance-identity/document` should return a d

[2016-05-16 08:34] jvanns commented on #397
Hi Clinton. Sorry, my efforts were shifted elsewhere. I'll see if I can find time today to reproduce the problem again following your steps.

Jim

[2016-05-17 08:51] miry opened #434 "v0.4.0-rc1 invalid format exception"
After upgrade to v0.4.0-rc1 I had a problem to run rexray. I could not find what has bad format from the logs. Here is some files and logs:

[code]

[code]

[code]

[2016-05-17 12:11] gufranmmu commented on #433
Thank you! In eucalyptus, the path  ```` "dynamic/instance-identity/document" ```` returns nothing although HTTP status is 200 so instance-identity document was returning JSON parsing error. However, this is working:
[code]
So, when enhancing ec2.go, maybe instead of using the "dynamic" path, using the latest would be compatible for both aws EBS and eucalyptus aws EBS.

One more comment regarding

[2016-05-17 12:16] gufranmmu commented on #430
Thank you! In eucalyptus, the path "dynamic/instance-identity/document" returns nothing although HTTP status is 200 so in ec2.go instance-identity document function was failing due to JSON parsing error. However, this is working in eucalyptus instance:

user-data[root@mesos-slave-1 ~]# curl  http://169.254.169.254/latest/meta-data
ami-id
ami-launch-index
ami-manifest-path
block-device-mapping/
hos

[2016-05-17 12:39] kacole2 commented on #434
@miry you need to stay on the v0.3.3 release for now. AWS isn't supported in the 0.4.0-rc1. It was called out in the support notes that support for the remaining storage end points is targeted for 0.4.1

[2016-05-17 16:34] clintonskitson commented on #433
@gufranmmu Are you saying that `curl  http://169.254.169.254/latest/meta-data/instance-id` would be the right tag for look at?

It is likely that 0.4.1 will include the updated EC2 driver which would be due out in a couple of weeks.

The REX-Ray project leverages vendoring to ensure the dependent code isn't in the same code base. For REX-Ray, [libstorage](https://github.com/emccode/libstorage) is

[2016-05-17 16:38] clintonskitson commented on #434
Thanks for the reply @kacole2. @miry There is an update to the configuration spec for RR 0.4 that will be communicated more fully in the docs.

[2016-05-18 08:46] miry commented on #434
@kacole2 @clintonskitson thanks. I downgraded to the stable version.

[2016-05-18 08:47] #434 closed

[2016-05-19 15:55] sargun opened #435 "What is the logo?"
I'm do not know what to call the logo. What are its contents, and what do they mean?

[2016-05-19 16:03] akutz commented on #435
Hi @sargun,

I apologize, but I am not sure I understand your question. What is this logo to which you refer? Maybe a better question for me to ask is, what is it you want to do or are trying to do that is not working the way you think it should?

[2016-05-20 14:36] akamalov commented on #345
Hey Clint,

Just a small question: Does REX-Ray support "snap-back" or snap-restore feature ? Let's say I took a volume snapshot, later data got corrupted on a primary volume, and I can go ahead and restore data  back onto that volume? Can it be done ?

[2016-05-20 18:41] clintonskitson commented on #345
@akamalov That should technically work. We will have to review it and see what is going on for that not to occur.

But today the rollback feature to an existing volume is not supported with REX-Ray. We can also look at globally supporting a rollback feature as it is would be valuable.

[2016-05-22 08:54] gufranmmu opened #436 "Rex-Ray multi host, same volume"
I wasn't able to test this out, but i think it's easier to ask you guys to get a quick answer :)

Okay, so let's say I execute one docker container  with an EBS volume in host1:

[code]

I kill the docker container and execute the same command as above in host 2. Shall it auto attach and mount that same volume in host2 or it creates a new volume?

The reason why I am asking this is that I tested t

[2016-05-22 13:30] kacole2 commented on #436
@gufranmmu your assumption is correct that REX-Ray will attach the same volume on host2.

[2016-05-23 07:50] CBR09 commented on #246
Hi @clintonskitson, I have similar issue. Any workaround on this?
[code]

[2016-05-23 09:11] sebmoule commented on #364
Hi @clintonskitson

it this problem may be related to this timeout problem ?

[code]

[2016-05-23 20:00] dvonthenen commented on #345
@akamalov I was able to create a volume from a snap, but the only difference in the command line used for me was to also specify the size (same as the snap). You would think that the size might not be needed since the snap already has size. Give that a try and see if that works for you.

Looks like we need to enhance the create and if a snapid is provided to either copy the size from the snap or i

[2016-05-23 21:11] clintonskitson commented on #364
@sebmoule This is likely relating to the storage platform or amount of volumes coming back. There is a hard coded timeout of 3 seconds on the startup command (which includes a volume list). In 0.4 we bumped it to 10 seconds, and made it configurable.

[2016-05-23 21:14] clintonskitson commented on #246
@CBR09 Marking this as an enhancement request. We will look at making the bin file configurable. For now you could checkout https://github.com/emccode/rexray/commit/ff0358301aecb24cba1894fd109bd40821a55d6c and modify the path and build.

[2016-05-24 18:16] akamalov commented on #345
@dvonthenen Thanks David. Yep, it worked when size is provided. Thanks a lot!

Alex

[2016-05-24 18:23] dvonthenen commented on #345
Good to hear. Will take a look at simplifying the usability so that size doesn't need to be specified.

[2016-05-24 20:44] cduchesne opened #437 "Makefile uses "uname -p" instead of "uname -m""
[code]

The correct use is "uname -m" to get x86_64. -p will show unknown or i386 depending on operating system.

[code]

[2016-05-25 08:13] CBR09 commented on #246
Thanks @clintonskitson, Allow changing bin file config is good, now, I've build rexray in container and it works

[2016-05-25 22:42] clintonskitson opened #438 "Add libstorage commit ID to version"
Since libStorage is a critical part of the REX-Ray architecture it would be great to be able to identify which libStorage commit/version is being used as a part of REX-Ray. This could show up in the `rexray version` command to assist in troubleshooting.

[2016-05-26 04:10] CBR09 opened #440 "Sometime rexray socket isn't working"
Hi everyone and @clintonskitson

I've tried rexray 0.3.3 with openstack driver some day and it's amazing. But sometime, I've saw rexray socket isn't working. When I typed 'docker volume ls',  docker can't communication with rexray socket although rexray still running. Like that:

docker volume ls

To workaround this, I had to remove rexray socket and restarted rexray daemon. So I wonder: how can I

[2016-05-26 08:07] CBR09 opened #441 "Too many open files in rexray logs"
Hi,
I saw this issue at #291, and in docker 1.10.3 seem to fix with PR https://github.com/docker/docker/pull/20686

But I still have similar issue when using docker 1.10.3 with rexray 0.3.3

Logs:

Thanks

[2016-05-26 10:49] vladimirvivien commented on #440
Hi @CBR09
Thanks for reaching out.  As you rightly pointed out, this is an indication that Rex-Ray is not serving request on the Unix socket.  Here are couple steps to help diagnose this issue:
 * Turn on logging when starting RexRay `rexray -l=debug start`, logging will help figure where this is happening and errors are being reported
 * Another quick check is to ensure the RR process is running

[2016-05-26 14:17] pietervisser opened #442 "Docker fails to re-create volume"
Hi, I experience an issue with creating volumes using the docker CLI. When I remove a volume **and directly list the volumes**, re-creating the volume using docker does not work. re-creating the volume directly with rexray cli does work. The only way to 'resolve' this issue is rebooting the machine.

Create a volume
[code]

Remove the volume **and directly** list the volumes, the volume still is s

[2016-05-26 14:48] vladimirvivien opened #443 "Rexray 0.4.x + VirtualBox {"Error":"missing service name"}"
When I setup rexray on virtualbox with the following configuration, I get `{"Error":"missing service name"}` when I try to issue any command.
[code]
RexRay starts OK
[code]

RexRay Version
[code]
Now, try to create a volume via docker with plugin=rexray
[code]

## Logs for rexray start
[code]

[2016-05-26 15:01] akutz commented on #443
Hi @vladimirvivien,

The config is broken, @clintonskitson said he would help.

[2016-05-26 15:01] #443 closed

[2016-05-26 15:34] clintonskitson commented on #443
@vladimirvivien We have not published the end-to-end configuration for REX-Ray that would enable the functionality you are looking for.

The addition that is missing would revolve around defining a service attached to the docker storage driver. This enables the requests to are incoming to get routed to the proper service. See the `service: ` portion.
[code]

Note taken, and we will make sure there

[2016-05-26 18:26] akutz commented on #441
Hi @CBR09 , Hi @kacole2,

So this is likely fixed in RR 0.4.0, because libStorage ran into a similar issue that I corrected with [this solution](https://github.com/emccode/libstorage/blob/master/drivers/storage/libstorage/libstorage_driver.go#L58-L72).

You may or may not be aware, but on a UNIX-based system, almost everything is a "file", even TCP sockets. That's why on Linux or Darwin you can ex

[2016-05-26 18:29] akutz commented on #438
Hi @clintonskitson,

This is a great idea. The info is already at `github.com/emccode/libstorage/api.Version`. I'll add it to RR when I fix the Makefile generation code.

[2016-05-26 19:47] clintonskitson commented on #441
Thanks for this @akutz. Although related it is aligned to RR 0.3.3. There
problem there is on Docker's side which is fixed in 1.11.0 which is past
the version reported here.

On Thursday, May 26, 2016, Schley Andrew Kutz <notifications@github.com>
wrote:

[2016-05-26 20:00] akutz commented on #441
Ah, cool. Yeah, I assumed it was the RR client, but I guess like you said it was Docker.

[2016-05-26 22:11] cduchesne commented on #437
modified Makefile with pull request #444

[2016-05-27 03:02] CBR09 commented on #441
Thanks @akutz, @clintonskitson for your attention. So to fix this issue, I need to upgrade to docker 1.11.0 or compile docker 1.10.0 with this https://github.com/docker/docker/pull/20686.

[2016-05-27 04:04] clintonskitson commented on #441
Correct @CBR09

[2016-05-27 07:31] CBR09 commented on #440
Today, I got it again
I typed docker volume ls and it's hang forever

RR logs

RR process is still running

To fix it temporary, I have to restart rexray and it's work again.

[2016-05-27 10:10] akutz commented on #438
Closed with #445.

[2016-05-27 10:10] #438 closed

[2016-05-27 11:32] CBR09 commented on #441
Thanks @clintonskitson

[2016-05-27 11:32] #441 closed

[2016-05-27 16:02] kacole2 commented on #440
@CBR09 let me get some more information so we can try and replicate if need be:

- Docker Version
- OS & Version
- Kernel Version

Change your `config.yml` file to include the debug for LogLevel. That will get all the nitty gritty:
[code]

What's the timeout period you are seeing? 1 day? 1 hour? When does it usually stop responding?

[2016-05-30 03:38] CBR09 commented on #440
Hi @kacole2
I usually see it stop reponding about several hours or 1 day.
I will provide some more information, I've tested RR v0.3.3 on three os hosts: ubuntu, rancher and coreos. On rancher and coreos, I run RR in container. At 3 os hosts, I got same problem as I mention.

Rancher host:

Coreos host:

Ubuntu host:

Configuration file on 3 hosts:

On ubuntu, I installed RR by

On coreos and ranch

[2016-06-01 03:02] CBR09 commented on #440
Update:
On ubuntu, I've update docker to 1.11.1 to avoiding error #441, but I got:

I typed docker volume ls 4 times:

and got logs:

[2016-06-01 13:55] clintonskitson commented on #440
@CBR09 Is this from a clean OS that has been rebooted? Could this possibly be related to previous open file conditions?

[2016-06-02 02:28] CBR09 commented on #440
@clintonskitson maybe, I will reboot OS and keep watching it.

[2016-06-02 11:41] CBR09 commented on #440
I rebooted and got same issue:

[2016-06-02 14:15] clintonskitson commented on #440
Can you perform a lsof operation and review which process actually has open
files? You can use grep to help filter the list to focus on rexray related
opens etc.

On Thursday, June 2, 2016, Vu Nguyen Duy <notifications@github.com> wrote:

[2016-06-02 17:04] clintonskitson opened #451 "Deprecate docker spec file"
The spec file that is created based on the Docker Volume Driver is no longer needed. This was initially implemented to follow the defined spec which since has been updated.

Docker looks up UNIX sockets first by name. If those don't exist then it turns to the spec file to review. This spec file would then only include a HTTP/IP endpoint. Since RR only is addressed by Docker locally, there is no ne

[2016-06-02 21:02] vimalprakashts commented on #261
Hi , can you explain it more. I just want to know , how to connect to AWS EC2 instance.  I got My access key and secret. but dont know which instance it pick. or how to create instance and how to make to this ?

[2016-06-03 04:28] clintonskitson commented on #442
@pietervisser I was able to reproduce this as well using the GCE driver.

[code]

Turning on debug mode I found that Docker was not making the call to create the volume. I then updated to the latest release of Docker in CoreOS and this seemed to fix the problem you were seeing.

[code]

[2016-06-03 07:00] CBR09 commented on #440
Hi @clintonskitson
I rebooted server and after several hours, when I type 'docker volume ls' first time, I saw it hang forever or took more time to return "list rexray: VolumeDriver.List: {"Error":"error getting driver instance"}".

[2016-06-03 16:42] feniix commented on #425
@clintonskitson the workaround for now is to actually use the mount point, in this case is an m4.xlarge instance which has a _ghost_ volume xvdb, by adding an ebs volume (even if it is not used, it can be a tiny volume) rexray is not broken anymore.

[2016-06-03 16:44] feniix commented on #410
@raphtheb I found a workaround see: https://github.com/emccode/rexray/issues/425#issuecomment-223630227

[2016-06-03 17:44] clintonskitson commented on #440
@CBR09 Missing access to the container that you specified in your example.

[2016-06-04 11:14] CBR09 commented on #440
@clintonskitson I don't understand what you mean, I installed RR on ubuntu with "curl -sSL https://dl.bintray.com/emccode/rexray/install | sh -", not in container.

[2016-06-08 17:21] #166 closed

[2016-06-08 17:21] #170 closed

[2016-06-08 17:22] clintonskitson commented on #344
Closing this for now as it will be introduced via the github.com/emccode/libstorage project instead. @vladimirvivien

[2016-06-08 17:22] #344 closed

[2016-06-09 13:06] wondenge commented on #361
This would be great addition to the community.

[2016-06-09 17:56] fritz-fritz commented on #427
Encountering the same behavior and logs. Force detaching the volume from the AWS console makes the host responsive again. My REX-ray container is ubuntu... is there a known working OS to use?

Host: AWS EC2 RancherOS AMI v0.4.5
REX-ray Container OS: phusion\baseimage (ubuntu:14.04)
Docker: 1.10.3

What's the resolution to this? Just reboot the host?

[2016-06-09 18:02] kacole2 commented on #427
@fritz-fritz The documentation calls out no Ubuntu support in EC2 for the host OS. Please read this comment: https://github.com/emccode/rexray/issues/427#issuecomment-218500005

CentOS, CoreOS, Fedora, etc all work in EC2 as the host OS.

There should not be anything limiting from the baseimage OS.

[2016-06-09 18:47] fritz-fritz opened #455 "Volume did not attach"
Running REX-ray in a privileged container (ubuntu based image) and attempting to launch a new container backed by AWS EBS.

The volume is created successfully yet cannot attach: **open /dev/xvdb: no such file or directory**

[code]

[code]

Memory usage is averaging about 63 MiB.
CPU usage is averaging about 1%.
load average: 3.04, 5.80, 5.84

[code]

[2016-06-09 18:49] fritz-fritz commented on #427
@kacole2 If this is the case perhaps the docs should be clarified. My interpretation was that Ubuntu is supported but preemption does not. `baseimage` is an optimized image of ubuntu and so any bugs would likely carry over.

I am running a containerized OS with REX-ray within a privileged container. The volume driver is recognized by docker upstream of the container. Rebooting seems to have resolv

[2016-06-09 19:02] kacole2 commented on #427
@fritz-fritz correct. No pre-emption support for Ubuntu on EC2. Sorry, misread your comment

[2016-06-09 19:15] clintonskitson commented on #455
@fritz-fritz Can you review the system logs and see what device name that the new device appeared as when EC2 attached the volume? RR is expecting it to arrive at /dev/xvdb but for some reason it did not end up appearing in this location even though the attachment process completed.

[2016-06-09 20:56] fritz-fritz commented on #455
@clintonskitson I have tried to see if I could determine the device name and unfortunately I have been unsuccessful

1.  `dmesg` seems to be static post boot
2.  `dmesg -c` -> reproduce -> `dmesg` returns nothing
3.  `/var/log/messages` only has the results from boot
4.  `watch --differences=permanent -t -n 1 'df -h'` doesn't show any new device
5.  `watch --differences=permanent -t -n 1 'lsblk'`

[2016-06-09 21:30] fritz-fritz commented on #455
@clintonskitson checking the Amazon console shows the disk attempting to attach under `/dev/xvdb`.

Manually creating a disk and attempting to attach prompts:

Both methods seem to be hanging so perhaps the issue is outside of REX-ray. I will continue to investigate and report back.

[2016-06-10 15:49] clintonskitson commented on #455
Thanks @fritz-fritz.

[2016-06-11 09:30] bretif commented on #246
@clintonskitson: Impossible for me to build ff03583, I get this error

`make: *** [_deps] Erreur 1
target: fmt
  ...formatting rexray...DEPRECATED Action signature.  Must be `cli.ActionFunc`.  This is an error in the application.  Please contact the distributor of this application if this is not you.  See https://github.com/urfave/cli/blob/master/CHANGELOG.md#deprecated-cli-app-action-signature
co

[2016-06-13 15:01] akamalov opened #458 "PANI[0000] runtime error: invalid memory address or nil pointer dereference - REX-Ray 0.3.3 + RHEL 7.2 + Docker 1.11.2"
Greetings,

New installation with the following environment:

**OS**

[code]

**REX-Ray**

[code]

**Docker**

[code]

**REX-Ray configuration**

[code]

Trying to start REX-Ray, however getting panic instead:

[code]

############################################################################

Trying to start REX-Ray manually:

[code]

Any pointers ??

Alex

[2016-06-13 16:28] cduchesne commented on #458
Hi Alex,

Did you validate the scaleio-gateway's ability to authenticate / communicate to your mdms?

You can try running the scaleio-gateway's build-in rest test https://<scaleio-gateway>/rest.jsp .

Also, what version of scaleio / scaleio-gateway are you using?

-Chris

[2016-06-13 17:03] clintonskitson commented on #246
It looks like you `go version` is likely not 1.5.x?

[2016-06-13 17:48] akamalov commented on #458
@cduchesne Thanks for  quick reply. I am Using ScaleIO 2.0.0.1 and it currently up and operational. Tried to connect from the gateway to MDM as per instructions and got
[code]
Just to make sure that I am not hallucinating: I am putting MDM IP address and not the Gateway IP address in /etc/rexray/config.yml correct (i.e., "endpoint:") ?

[2016-06-13 17:55] cduchesne commented on #458
the endpoint is the scaleio gateway ip

you will also need to add the following under the scaleio configuration
apiVersion: "2.0"

[2016-06-13 18:00] akamalov commented on #458
@cduchesne  Thanks again!  Here is the output of my /etc/rexray/config.yml

[code]
Here is the output of manual rexray start:

[code]

[2016-06-13 18:03] cduchesne commented on #458
curious, do you have scaleio sdc installed and activated on your host?

[2016-06-13 18:05] akamalov commented on #458
dang! one  min...

[2016-06-13 18:24] akamalov commented on #458
@cduchesne, thanks again for working with me on this one.

Installed ScaleIO SDC on the node. I can query it from Gateway server and it is popping up:

[code]
So the machine in question:

[code]

...is showing up.

However, still getting the same result:

[code]

[2016-06-13 18:44] cduchesne commented on #458
I can reproduce the error you're seeing with rr 0.3.3 if I configure any of the following scaleio properties incorrectly:
    systemName:           cluster1
    protectionDomainName: domain1
    storagePoolName:      pool1

are you positive those are the configured values for your scaleio cluster? i'm not suggesting this is the solution, however it's worth checking.

[2016-06-13 18:53] akamalov commented on #458
Fixed. I had to reset cluster name to 'cluster1' and then it came up. @cduchesne  Thanks so much yet again!

[2016-06-13 18:54] #458 closed

[2016-06-13 18:55] cduchesne commented on #458
no problem

[2016-06-13 19:03] cduchesne commented on #437
merged into milestone 0.4.0

[2016-06-13 19:03] #437 closed

[2016-06-13 19:04] clintonskitson commented on #458
Thanks for followingup @cduchesne. The squashing of errors is something @akutz tackled in 0.4.0. This should be much better moving forward.

[2016-06-14 07:44] bretif commented on #246
@clintonskitson You are right I was using a go version < 1.5

I just tried with go 1.6.1, but I stil get an error:

[code]

Thanks for your reply

[2016-06-14 10:59] pietervisser commented on #442
@clintonskitson thanks for checking this out. It looks like updating to Docker 1.11.2 resolves these issues!

[2016-06-14 10:59] #442 closed

[2016-06-14 12:12] bretif opened #460 "rexray failed to mount volume with some container"
Running rexray on coreos stable in a container / docker 1.10.3 / Volume from openstack

I I try to mount a volume named "testing" from docker command with debian:jessie image, it is working.
However if I try to use [grefana/grafana](https://github.com/grafana/grafana-docker/blob/master/Dockerfile) image (based on debian:jessie), it failed.

I really do not understand where the problem is.

All tra

[2016-06-14 13:33] fritz-fritz commented on #389
@clintonskitson @gonzalomarcote
I have run into this behavior as well. In my case I am using AWS EBS as my storage driver. As I am running REX-ray in a container, I simply restart it a few times until it works. It seems to be caused by #364. When 0.4 is released the timeout will be configurable.

[2016-06-14 13:44] kacole2 commented on #460
@bretif a few questions:

1. Was the first container in a stopped/killed/removed state before you tried to attach `testing` to the 2nd container?
2. If 1 is false, have you enabled pre-emption? The first host/container has a RW lock on that volume.
3. If 1 is true, is it only the grafana image? have you tried busybox or any other base OS?

Can you try with Docker 1.11.2 and report if you are seein

[2016-06-14 13:45] kacole2 commented on #436
@gufranmmu if your question is solved can you please close the issue? thanks!

[2016-06-14 13:49] kacole2 commented on #390
@tobilg @a-nldisr @thbeh i just wanted to let you know that this issue is being tracked in [libStorage 191](https://github.com/emccode/libstorage/issues/191). All new drivers are going to be built into libStorage and all drivers for REX-Ray have been ported over as well.

If you plan on submitting PRs to add in a Ceph driver please refer to that repo and codebase. thanks!

[2016-06-14 13:55] bretif commented on #460
@kacole2 : Answer to your questions:
1. Yes container is stoppped/removed. I performed a docker stop and docker rm before launching the new one
2. Pre-empt is not activated. I a m sure volume is not connected anymore. I check rexray log and verrify that volume is unmounted
3. I tried ubuntu, debian/jessie, alpine. It is working properly on all these ones
Right now I only get the issue with grafana

[2016-06-14 13:58] kacole2 commented on #460
@bretif also interesting to see you were using `dvdcli`. you can also use the REX-Ray CLI to get more robustness. `rexray volume --help`

[2016-06-14 15:18] fritz-fritz commented on #460
That error looks just like what happens if an EBS volume is deleted from the AWS console. In that case REX-ray is still looking for a volume that doesn't exist and refuses to create it (think this has to do with used count or path caching not sure). @bretif maybe check if the volume was deleted by the above mentioned Docker issue before launching grafana?

[2016-06-14 15:43] bretif commented on #460
@frits-frtiz I am sure volume is not deleted. I checked it
I have disable volume creation because it is is activated in rexray config, it creates the volume et did not find it after...

[2016-06-14 15:46] mvanholsteijn commented on #455
I have the same issue: It creates a new volume but just before the VolumeAttach docker responds with
'Error response from daemon: no such file or directory'.

When you try to run again, the same applies. It appears that the GetValue does not return a 'VolumeID' for the name.

[code]

[2016-06-14 15:49] clintonskitson commented on #460
@bretif Biggest difference that I see is that the volume in question is done by name in the initial example, and an anonymous volume in the second.

Doing some research showed that these are the volume paths that would end up creating anonymous volumes.

`VOLUME ["/var/lib/grafana", "/var/lib/grafana/plugins", "/var/log/grafana", "/etc/grafana"]`

Can you try this again, but pre-create volumes and

[2016-06-14 15:55] vladimirvivien opened #461 "Received connection refused from CLI when libStorage host+service provided (0.4.0-rc3)"
The following configuration causes the CLI to error out with a connection refused.  This is true for either `embedded` set to `true` or `false`.
[code]

### Version Info
[code]

[2016-06-14 16:05] akutz commented on #461
Hi @vladimirvivien,

That sure looks like a valid config. I'll take a look in a few.

[2016-06-14 16:19] akutz commented on #461
Hi @vladimirvivien,

It's a logic inversion bug at https://github.com/emccode/rexray/blob/master/util/util.go#L308. I'll fix it in a quick patch for you. Or you can build a custom version by simply making that line look like this `		return host, !gotil.IsTCPPortAvailable(port)`

[2016-06-14 16:41] clintonskitson commented on #455
@mvanholsteijn This looks like a different issue than the one reported. What version of Docker are you using? There was a problem before 1.11 with SELinux causing similar problems. I just verified with your configuration, AWS, RR 0.3.3, and Docker 1.11.2 with no problems.

[2016-06-14 16:43] fritz-fritz commented on #455
@clintonskitson I've investigated this further.

Rebooting the host I can easily attach volumes from the AWS console prior to and after launching REX-ray.

When manually attaching a volume as `/dev/sdf` via the AWS console and launching a container to use it, it actually gets attached as `/dev/xvdf` and so REX-ray does not find it:
[code]
[code]
This isn't exactly a bug but possibly a feature requ

[2016-06-14 16:43] clintonskitson commented on #389
@gonzalomarcote Thanks for the reply here. The issue is actually related to the startup timeout and not the mount/unmount timeout.  This is covered in 0.4.0 here https://github.com/emccode/rexray/pull/429

[2016-06-14 16:53] clintonskitson commented on #455
Can you provide the AMI information and more explicit directions for reproducing the environment (not process with RR)?

[2016-06-14 16:56] akutz commented on #461
Hi @vladimirvivien,

I just merged the fix for this. Care to build from `master` and try again?

[2016-06-14 17:11] mvanholsteijn commented on #455
This is with docker 1.9.1 on latest CoreOS stable ami on aws

Cheers, Mark
On Tue, 14 Jun 2016 at 18:53, Clinton Kitson <notifications@github.com>
wrote:

[2016-06-14 17:14] bretif commented on #460
@clintonskitson Thanks a lot it works!

You are fully right. After you answer the issue l I read this doc [Allow external volume drivers to host anonymous volumes… again. #19190](https://blog.emccode.com/2016/02/04/what-you-need-to-know-about-storage-in-docker-1-10/) and I understand how it works.

I have created all volumes in cinder
[code]

and launch this command
[code]

and the container start

[2016-06-14 18:51] fritz-fritz commented on #455
@clintonskitson not sure who you were asking but below is my configuration for testing.

AMI: rancheros-v0.4.5-hvm-0-3e977279-1fad-4ebf-bb68-5d6e0d2d0b37-ami-812ec0ec.3 (ami-6d739b00)
Instance Type: t2.micro
IAM Policy: AmazonEC2FullAccess

1. SSH to AMI
2. Enable Ubuntu console

[code]

3. Install Rancher

[code]

4. Register Host with Rancher (generate script in UI. example below.)

[code]

5. S

[2016-06-14 20:41] gonzalomarcote commented on #389
Thank you for the info. I will update to that version.

---
Enviado desde mi Android
On Jun 14, 2016 6:44 PM, "Clinton Kitson" <notifications@github.com> wrote:

[2016-06-15 07:30] #460 closed

[2016-06-15 15:48] vladimirvivien commented on #461
@akutz I was able to verify it works with embedded = true!  Thanks.

[2016-06-15 15:48] #461 closed

[2016-06-17 03:14] clintonskitson opened #464 "Service selector not working"
The service selector `-s` flag does not seem to be working. There are multiple services defined, but the first service seems to be the one being returned each time.

See the gist https://gist.github.com/clintonskitson/7726774770cc5e49f40f8fca3365c4f2

[code]

[2016-06-17 03:47] clintonskitson opened #465 "Stale socket not cleaned up"
When starting the service with embedded it looks as though occasionally the default socket file is not being cleaned up. When a new REX-Ray process tries to launch at that point, it fails with the following error.

[code]

[2016-06-17 05:17] akutz commented on #464
Hi @clintonskitson,

I spent far too long setting things up to replicate this before looking at the command you were executing. It's part and parcel of the exact same issue we spent most of yesterday and this evening discussing via Slack regarding the scope of the definition of properties under `rexray` and the scoping of `rexray.modules.default-docker`. I mentioned I removed that. It's up to you

[2016-06-17 05:17] #464 closed

[2016-06-17 05:32] akutz commented on #465
Closed with RC4.

[2016-06-17 05:32] #465 closed

[2016-06-17 15:58] clintonskitson commented on #464
My fault @akutz. Tests good!

[2016-06-17 16:14] fritz-fritz commented on #455
@clintonskitson after further testing, I have concluded that the issue seems to not be related to REX-ray.

After a reboot of the instance, before starting the REX-ray container, I can attach a disk from the AWS console. After detaching the disk via the console, no further disks can be attached to the instance. This seems to be a bug with the AWS infrastructure and not related to REX-ray. I will b

[2016-06-17 16:14] #455 closed

[2016-06-17 16:48] akutz commented on #464
Hi @clintonskitson,

Not about blame (which is why I edited the above response to make sure I wasn't too harsh). It was late, I spent 90 minutes debugging when I wanted to play video games before bed :) I'm just glad you verified it worked. That's all I ultimately cared about.

[2016-06-18 00:13] clintonskitson commented on #455
Thanks for the info.

On Friday, June 17, 2016, FRITZ|FRITZ <notifications@github.com> wrote:

[2016-06-18 00:39] clintonskitson opened #466 "Disable path.cache feature for CLI"
The feature that is intended to speed REX-Ray when integrating as a service can have negative impacts on the interactive usage from the CLI.

The path cache feature is something that on initialization of drivers requests a full volume list with attachments. This is then cached for later usage. Since the CLI only executes a single command at a time then this feature only adds overhead for doing vol

[2016-06-18 07:19] rimusz commented on #20
any updates on Kubernetes integration?

[2016-06-18 13:15] clintonskitson commented on #20
See the thread here for libstorage.

https://github.com/emccode/roadmap/issues/133#issuecomment-226937855

On Saturday, June 18, 2016, Rimas Mocevicius <notifications@github.com>
wrote:

[2016-06-21 14:09] jvanns opened #468 "Install of older 0.3.3 broken"
Following this to ensure we maintain a version 0.3.3 (0.4 not working for us);

http://rexray.readthedocs.io/en/stable/user-guide/installation/#manual-installs

The output of;

curl -sSL https://dl.bintray.com/emccode/rexray/install | sh -s -- stable 0.3.3

Is actually;
dpkg-deb: error: `rexray-0.3.3-x86_64.deb' is not a debian format archive
dpkg: error processing archive rexray-0.3.3-x86_64.deb

[2016-06-21 17:54] kacole2 commented on #468
@jvanns thanks for pointing this out.

@akutz @clintonskitson verified that it's not location at this expected location, only tarballs. https://dl.bintray.com/emccode/rexray/stable/0.3.3/

[2016-06-21 18:12] akutz commented on #468
Newer versions will retain RPMs, but no older. I'll make sure to upload the 0.3.3 RPMs manually in a bit

--
-a

[2016-06-21 19:30] jvanns commented on #468
And Debian/Ubuntu packages?

On 21 June 2016 at 19:12, Schley Andrew Kutz <notifications@github.com>
wrote:

[2016-06-21 19:32] akutz commented on #468
Hi James,

It's the same process, so yes. I'm also out this afternoon, so someone else may need to handle it, but I am looking at it now at least.

[2016-06-21 19:42] jvanns commented on #468
Great! Thanks :)

Jim

On 21 June 2016 at 20:32, Schley Andrew Kutz <notifications@github.com>
wrote:

[2016-06-21 20:36] akamalov opened #469 "docker: Error response from daemon: VolumeDriver.Mount: {"Error":"no device name returned"}."
Greetings,

**Problem:** Getting error mounting volume onto a container

**OS**

[code]
**REX-Ray**
[code]
I can create a volume or list a volume without a problem:

**Create a volume:**
[code]
**List volume:**
[code]

**Mount volume:**

[code]

[2016-06-21 23:03] dtx commented on #317
Just hit this myself. Working around compiling 0.3.3 with go1.5 to see if that works. Will update this thread for future folks.

[2016-06-21 23:47] clintonskitson commented on #317
That will work. Rex 0.4 is compatible with Docker 1.10+ because of this.

On Tuesday, June 21, 2016, Darshan Sanghani <notifications@github.com>
wrote:

[2016-06-21 23:48] clintonskitson commented on #317
You can download the pre built binaries instead of compiling as well.

On Tuesday, June 21, 2016, Clinton Kitson <clintonskitson@gmail.com> wrote:

[2016-06-22 00:04] dtx commented on #317
it worked well. Here is the dockerfile I used to build with go1.5. as @clintonskitson mentioned, you are better off using your pre-built binaries, but if you have a bunch of business-specific changes in your fork then you might have to run your own build. Here is what I did.

[code]
Then I did:
[code]
Inside the container, run the make and copy the binary to the mount path after it succeeds:
[code

[2016-06-22 07:38] getstek opened #470 "RR issue with libstorage"
Hi,

I have installed RR on a CentOS7 node and am trying to connect back to a ScaleIO cluster. I get the following errors in the rexray.log file:

[code]

Similarly when I run "rexray volume -l debug" I get an error:

[code]

ScaleIO is online and I can verify the API gateway is responding as required, finally the RR config file for ScaleIO shows:

[code]

[2016-06-22 10:34] sebmoule commented on #470
I have the same issue on Ubuntu 16.04 and Openstack storage backend.
I download Rexray 0.3.3 and it works, it seams to have a problem with libstorage configuration.
Does rexray is still compatible with openstack with changes from 0.3.3 to 0.4 ?

also why we can't anymode download .deb package on repository : https://dl.bintray.com/emccode/rexray/stable/0.3.3/ ? there is only .tar.gz remains (so wi

[2016-06-22 10:53] akamalov commented on #469
Some debug output with ```logLevel: debug```

[code]

[2016-06-22 12:15] sebmoule commented on #470
Same problem here on Ubuntu 16.04 and openstack backend.

I'm not sur but it seams that rexray 0.4 with libstorage is no more (yet ?) compatible with openstack ?

[2016-06-22 12:57] kacole2 commented on #470
ping @cduchesne, can you assist with the ScaleIO portion since you've done the most testing?

@sebmoule you have a different issue. Please review the release notes and documentation for v0.4.0. At this time, only ScaleIO, Isilon, and VirtualBox are supported platforms for v0.4.0. The remaining platforms are targeted for v0.4.1 & v0.4.2 releases. https://github.com/emccode/rexray/releases/tag/v0.4.

[2016-06-22 12:58] kacole2 commented on #470
@sebmoule v0.3.3 .deb file is being tracked in #468. Will be fixed soon

[2016-06-22 13:04] kacole2 commented on #469
@akamalov docker version? Assuming 1.11? Only a problem with `test` volume?

[2016-06-22 13:39] akamalov commented on #469
Hey Kenny, yep docker version is 1.11.2

[2016-06-22 14:11] akutz commented on #470
Hi @kacole2, you should be able to solve this one. Look at the provided config and then the documentation.

[2016-06-22 14:20] akutz commented on #470
Hint - he's not using a 0.4.0 config.

[2016-06-22 14:49] getstek commented on #470
Does the libstorage.server.libstorage.storage.driver key completely replace the rexray config?

I mean this:

[code]

Would it become:

[code]

[2016-06-22 14:56] akutz commented on #470
Close! I'm mobile, so it will take a min. Hang on

[2016-06-22 14:57] akutz commented on #470
Using auto service mode you can just do this:

libstorage:
  service: scaleio

[2016-06-22 14:58] akutz commented on #470
Note the above config isn't formatted due to mobile. The service property should be indented under libstorage.

[2016-06-22 15:51] akutz commented on #470
Hi @getstek,

I'm on my laptop now. Okay, so let's transform the original configuration example:

[code]

[2016-06-22 16:49] kacole2 commented on #468
@akutz i see the files have been uploaded but I believe the filename might be wrong.

[code]

[2016-06-22 17:09] akutz commented on #468
Hi Kenny,

I'm indisposed, but check with Dre and Clint. There's another issue I plan on having resolved by EOD. They're aware of it.

--
-a

[2016-06-22 17:43] clintonskitson commented on #469
@akamalov Could you return a `rexray volume map` and a `rexray volume` specific to the volume you are trying to return? Would also be curious to see what `scli` reports as to where this volume is mapped to.

Is this happening for all volumes from this SIO cluster? Is it happening for all SDCs?

[2016-06-22 17:53] VibhorGupta opened #471 "Rexray 0.3.3 config file not compatible with Rexray 0.4"
Rexray 0.3.3 config file is not compatible with Rexray 0.4.

I have 2 instances of rexray 0.3.3 running fine. I pulled rexray 0.4 on a new server and used the same config file as on the 0.3.3.

rexray 0.3.3 config file example:

[code]

Rexray 0.4 was dying with the following error:

[code]

temporary solution is to use the following config file:

[code]

it would be good to use the old rexray.sto

[2016-06-22 18:02] akutz commented on #471
Thank you for taking the time to file this @vibhorgupta! I'm glad we got you online again so quickly. I'll definitely mark this patch a priority and ensure it's included in 0.4.1.

[2016-06-22 19:02] getstek commented on #470
Looks good, this seems to have done the trick - thanks. Is there any way this could make it back into the documentation? It's clearer now as you've given me an example, much clearer than the docs make it.

[2016-06-23 15:53] akamalov commented on #469
**Q: Is this happening for all volumes from this SIO cluster? Is it happening for all SDCs?**

A: No, ScaleIO is serving Datastores for ESXi nodes and so far nothing is affecting them

**Q: Could you return a rexray volume map**

A: Here it is...

[code]

**Q: ...rexray volume specific to the volume you are trying to return**

A: Here it is...
[code]
Query volume - test using 'scli':
[code]

Tryin

[2016-06-23 17:28] kacole2 commented on #468
@jvanns files have been renamed to work with the current script. it's a bandaid for now but will make sure to not break backwards compatibility for the next release. thank you. `.deb` should pull fine now.

thanks!

[2016-06-23 18:00] kacole2 opened #472 "Can't build from source"
I'm trying to build from source to get binaries for v0.3.3 and `make deps` is getting errors.

here is `make deps -d` suggesting that a `deps` file cannot be created or found

[code]

[2016-06-23 18:03] kacole2 commented on #468
@jvanns I'm working on getting a `.deb` file. Looks like we don't have a `.deb` laying around so I'm trying to build from source and hitting #472. will keep you posted

[2016-06-23 18:20] kacole2 commented on #468
@jvanns `.deb` should be good to go now as well. Please close the issue if you have any more problems

[2016-06-23 20:58] clintonskitson commented on #469
Thanks @akamalov.

How about the output of  `/opt/emc/scaleio/sdc/bin/drv_cfg --query_vols` and `ls /dev/disk/by-id`?

[2016-06-23 21:32] kacole2 commented on #472
I'm getting a different error from TravisCI ... the initial problem is with my environment. fun! :)

https://travis-ci.org/kacole2/rexray/builds/139842241

[2016-06-24 12:47] akamalov commented on #469
Here is the output:

[code]

Volume ```c047cb2900000003``` is the same as the volume test I've been trying to mount using ```docker run```:

[code]

###

Output of ls ```/dev/disk/by-id```
[code]

[2016-06-27 08:24] #470 closed

[2016-06-27 22:08] #472 closed

[2016-06-27 22:13] clintonskitson commented on #469
@akamalov My apologies for the delay. I am curious about where the link to `emc-vol-076534e45e5ed7ca-c047cb2900000003` is. Can you try and perform a `ls -laF /dev/disk/by-id` instead? This link is how we determine what the device name would be in the attachments field.

[2016-06-27 22:19] proudh opened #475 "Builds using a Docker container should be supported"
It would be a great convenience if builds could be performed using a standardized published Dockerfile

[2016-06-27 22:25] akutz commented on #475
Does the Makefile not work for you? Is there a problem with the current process that you're able to illuminate here?

[2016-06-28 10:53] akamalov commented on #469
Thanks @clintonskitson. Here it is:

[code]

[2016-06-28 11:34] jvanns commented on #468
Hi. I've installed this build on a new machine with a minimal configuration that used to work. However, it fails to start as a service;

rexray service -l debug -c /etc/rexray/config.yml start

I've attached the config, stderr and the verbose log all with our AWS access/secret keys removed.
I can't see anything useful in the error log.

[rexray.yml.txt](https://github.com/emccode/rexray/files/3368

[2016-06-28 12:11] kacole2 commented on #468
@jvanns what's your OS/AMI? And you are using v0.3.3, correct?

There were changes made to the install script yesterday.

[2016-06-28 12:26] jvanns commented on #468
Ubuntu 14.04 AMI.

This is the first time I've attempted to start the service following the new downgrade via the solution above.

[2016-06-28 13:53] kacole2 commented on #468
@jvanns I just tested with the following and had no problems.

Ubuntu 14.04 uses upstart vs systemd and it's worth noting that Docker Machine favors Ubuntu 15.10 for all AWS deployments now. However, I was able to find an AMI using 14.04 with HVM. I use US-EAST-1 [Amazon EC2 AMI Locator](https://cloud-images.ubuntu.com/locator/ec2/)

[code]

install REX-Ray
[code]

add the configuration file
[code

[2016-06-28 14:02] jvanns commented on #468
Can you make any sense of what's failing in that error log then? I'm finding it difficult to actually see what is failing let alone why.

msg="default module(s) failed to start"

Any pointers?

[2016-06-28 14:10] bretif opened #477 "Can not mount - No such file or directory"
My env:
rexray 0.3.3 (in docker container)
CoreOS stable (1010.5.0)
Openstack

On my coreos server I am able to mount disk but for a specific disk it is failing.
It keeps tells me:

[code]

Example:

[code]

The device `/dev/vdk` is not created.
If I try to mount he volume after the unmount if still fails.
After a reboot of the server it still fails on the same disk.
However I can mount other volu

[2016-06-28 14:16] kacole2 commented on #468
@jvanns here is what a successful log should look like:

[code]

Specifically, there is an issue with `GET MOUNTS` for your OS driver:
[code]

Is there a specific public AMI you are using that I can test against?

[2016-06-28 15:39] clintonskitson commented on #469
Hmm not seeing the previously listed EMC device that was there. So what I am getting at here is that we use this link to determine what the valid device path is. If the device is attached, and it has a path here then RR shouldn't have a problem mounting it at that point.

If the volume is currently attached yet the device is not being listed here would represent the problem and direct it to SIO ve

[2016-06-28 15:41] clintonskitson commented on #477
@bretif Easy first step could be a reboot of the system. You can also try a command like the following:

`echo 1 > /sys/block/dev/vdk/device/delete `

[2016-06-28 16:12] bretif commented on #477
@clintonskitson : Hard to believe but after a reboot, I get the same issue, still only on the same disk. The other ones are working properly.

I do not have any /dev/vdk nor  /sys/block/vdk file in my system

so I do not understand why rexray want to mount it on /dev/vdk

If you have any idea....

[2016-06-28 16:31] clintonskitson commented on #477
@bretif Take a look at `/proc/partitions` and see if that device is listed there.

There was a bugfix filed recently for something similar with OpenStack. https://github.com/justinclayton/rexray/tree/openstack_volume_attach_fix

https://github.com/emccode/rexray/compare/master...justinclayton:openstack_volume_attach_fix#diff-5945d3d61100bef758cb786946c0d31cR1051

Can you review `ls -laF /dev/disk/

[2016-06-28 17:04] bretif commented on #477
I tried to mount it again, it failed.
As you will see below rexray report it as attached bit no disk on my system:

[code]

The bugfix you send seems similar to my issue.
Is there an easy way to compile myself rexray to test this fix?

[2016-06-28 17:10] clintonskitson commented on #477
Yes, you can clone the repo and branch into `$GOPATH/src/
github.com/emccode/rexray` and run `make build-linux-amd64`. You should
have Go 1.5+ installed to do so.

On Tue, Jun 28, 2016 at 10:04 AM, Bertrand RETIF <notifications@github.com>
wrote:

[2016-06-28 21:00] cduchesne opened #479 "make doesn't show where rexray binary exists after finishing"
[code]

After make finishes, it would be nice if full path of where rexray binaries (linux + darwin) existed, as was the case before the most recent PR #474

[2016-06-29 10:39] bretif commented on #477
@clintonskitson I compile rexray succesfully with commit 9c5cf20.
However I can not test it.
rexray crashes

[code]

[2016-06-29 11:00] akamalov commented on #469
@clintonskitson, I apologize. It looks like the device  comes up in the node **node4** only if I issue ```scli``` command from ScaleIO to map the volume. Here is the sequence of commands and output:

**Map volume to node4:**

[code]

From **node4**, list disks:

[code]

Peculiar thing: while watching **node4** ```/var/log/messages```, I happened to notice a lot of messages such as:

[code]

Don't

[2016-06-29 11:02] bretif commented on #477
@clintonskitson The problem is really that rexray detect the wrong device.

I now have the issue with another disk.
He tries to mount `/dev/vdk`, however the new disk is mounted on the OS on `/dev/vdi`.
The volume-id of my disk is `volumeid: 3e29967c-20f7-4e33-81e7-dca8c26c060f` and it is mounted on `/dev/vdi`
[code]

[2016-06-29 11:26] akamalov commented on #469
Here is another example, I am trying to mount the volume via REX-Ray

[code]
Monitoring from the other console:
[code]

[2016-06-29 15:49] clintonskitson commented on #469
Can you perform a `rexray volume attach -l debug` on that volume ID? Also what is the underlying version of SIO?

[2016-06-29 16:05] clintonskitson commented on #469
@akamalov By the way, in the last log the problem is likely that there is a process currently running that is using resources from the mounted volume. If you perform a `lsof | grep <path>` you should be able to determine what that process is. Typically RR is used in a workflow, so the container exiting would signify that all handles etc on the volume are closed making an unmount possible.

[2016-06-29 16:36] akamalov commented on #469
A: Here is the result:

[code]

```A: EMC-ScaleIO-2.0-6035```

[2016-06-29 16:40] bretif commented on #477
@clintonskitson I update your code, cf https://github.com/justinclayton/rexray/compare/openstack_volume_attach_fix...bretif:openstack_volume_attach_fix?expand=1

and now everything is working properly, I do not have anymore issues with missing device name.

[code]

[2016-06-29 16:58] clintonskitson commented on #477
@justinclayton Can you review the thread here for relevance to your fix?

[2016-06-29 16:59] clintonskitson commented on #469
Can you also review the list of devices in `/dev/disk`..

On Wed, Jun 29, 2016 at 9:36 AM, akamalov <notifications@github.com> wrote:

[2016-06-29 17:31] akamalov commented on #469
[code]
[code]
######
[code]
[code]

[2016-06-29 17:36] clintonskitson commented on #469
Sorry one last question. What is the result of `/opt/emc/scaleio/sdc/bin/drv_cfg --query_vols`?

[2016-06-29 18:26] akamalov commented on #469
Here you go...
[code]

[2016-06-29 20:32] akutz commented on #471
Hi @VibhorGupta, I tested #481 and showed it solves this, so I'm going to close this issue. Look for this fix in the next release.

[2016-06-29 20:32] #471 closed

[2016-06-29 20:56] akutz commented on #479
This was closed with #480.

[2016-06-29 20:56] #479 closed

[2016-06-30 17:00] #435 closed

[2016-06-30 19:20] akamalov commented on #469
@clintonskitson  any updates by chance ?

Thanks!!

[2016-06-30 19:46] akamalov commented on #469
Also wanted to provide an update that authentication and interrogation against ScaleIO is normal:

First, obtain token:
[code]

Secondly, interrogate ScaleIO environment:

[code]

[2016-07-01 01:23] clintonskitson commented on #469
@akamalov Sorry for the break in response, we are very much looking into this and should have a response shortly on it.

[2016-07-01 02:31] clintonskitson opened #484 "Latest build process expects $GOPATH/bin in path"
It looks like the latest build process expects that the $PATH includes the $GOPATH/bin. This is shown by 1) the following command in the Makefile

`312		gometalinter --install --update`

2) the errors that come from the gometalinter install if the path isn't properly set

[code]

Extraneously I had to remove some non related packages to make gometalinter actually run. It looks like it had a pretty

[2016-07-01 02:46] akutz commented on #484
I'll update the GOPATH bits, but you really should include it. Many projects and tools expect it in the path, but I'll def make those calls absolute.

Re: unrelated packages - Your src tree must be farked up, or something else, because those paths with dvdcli don't occur for me or on Travis. I don't know why you ran into those issues, but I didn't encounter a single one like that. I'd be intereste

[2016-07-01 02:46] akutz commented on #484
Oops. Thanks for the note about the GOPATH. As I said, I'll update the linter tool to be absolute.

[2016-07-01 03:37] clintonskitson commented on #484
Problem is that even if the linter is absolute, it looks like it expects the path set properly to do its magic.

[2016-07-01 03:59] akutz commented on #484
Then I'll update docs to make that a requirement. It should be set anyway. I'll also try to do it at top of Makefile and reexport the updated path.

[2016-07-01 07:08] rahuldivgan opened #485 "rexray on openstack"
Getting the following error even after providing the config file at /etc/rexray/config.yml.

The Error:
cat /var/log/rexray/rexray.log :

 time="2016-07-01T04:11:56Z" level=error msg="default module(s) failed to initialize" error.configKey=libstorage.server.services error.obj=<nil> time=1467346316
time="2016-07-01T04:11:56Z" level=error msg="error starting rex-ray" error.configKey=libstorage.serve

[2016-07-01 10:44] akamalov commented on #469
@clintonskitson Thanks so much!!

[2016-07-01 15:04] cduchesne commented on #469
@akamalov  - is the problem still completely repeatable? if you have time, I'd like to sync up via a desktop share to get some more details about what you're seeing in real-time. I am in the codecommunity slack if you want to chat live as well.

[2016-07-01 15:20] cduchesne commented on #485
@rahuldivgan

Can you post the contents of your /etc/rexray/config.yml in a codeblock?

Also, can you run "rexray version" and "rexray volume -l debug"?

[2016-07-01 15:46] clintonskitson commented on #468
It is possible that the startup is violating the 3 second timeout window in 0.3.3 because of the initial volume lookup that occurs. This happens with the pathcache feature enabled. You could try disabling this feature for now to skip this lookup on startup. The 0.4x release includes a timeout setting and will be relevant shortly when we add back the EC2 driver.

[2016-07-01 15:48] clintonskitson commented on #485
Best thing to do here is to validate the actual settings with an export that can be provided from Horizon. It is likely that there is a mismatch of tenant or region.

[2016-07-01 18:16] rahuldivgan commented on #485
The following are contents of /etc/rexray/config.yml

`# cat /etc/rexray/config.yml
rexray:
  storageDrivers:
  - openstack
openstack:
  authUrl: https://*****.com:5000/v2.0
  username: *****
  password: *****
  tenantName: *****
  regionName: *****
  availabilityZoneName: alln01-1-csi`

[2016-07-01 18:22] rahuldivgan commented on #485
Unfortunately it is still the same format even after putting it in code block, hence attaching a screen shot, and have edited the and put stars * as I couldn't share the details.
<img width="309" alt="screen shot 2016-07-01 at 11 20 31 am" src="https://cloud.githubusercontent.com/assets/16629093/16530668/199cb332-3f7e-11e6-8c3b-d375c0ad6240.png">

[2016-07-01 18:25] rahuldivgan commented on #485
Hi @clintonskitson I have exported the exact same values as seen in Horizon. Kindly looking for additional help on this, thanks guys.

[2016-07-01 21:32] clintonskitson commented on #485
Try a `rexray start -l debug -f` and send over the details if you can.

[2016-07-01 21:37] rahuldivgan commented on #485
<img width="717" alt="screen shot 2016-07-01 at 2 35 08 pm" src="https://cloud.githubusercontent.com/assets/16629093/16535064/59ff5c3e-3f99-11e6-97e8-2597b97d6b35.png">

<img width="1377" alt="screen shot 2016-07-01 at 2 36 33 pm" src="https://cloud.githubusercontent.com/assets/16629093/16535073/63446f1e-3f99-11e6-82da-ffe7f5170fee.png">

[2016-07-01 21:46] clintonskitson commented on #485
You are using RR 0.4.0 here which doesn't include Openstack driver yet.

Try `curl -sSL https://dl.bintray.com/emccode/rexray/install | sh -s -- stable 0.3.3` to get the last stable release that has the driver.

[2016-07-05 07:57] byrnedo commented on #468
Just heads up, I got 0.3.3 starting fine on systemd by putting the following in `/etc/systemd/system/rexray.service.d/override.conf`
[code]

[2016-07-05 07:58] byrnedo commented on #389
Just heads up, I got 0.3.3 starting fine on boot  with systemd by putting the following in `/etc/systemd/system/rexray.service.d/override.conf`
[code]

[2016-07-05 16:39] mexuar-admin opened #489 "rexray start fails on Ubuntu 14.04 LTS with Rackspace storage driver"
Running REX-RAY on Ubuntu 14.04 LTS at Rackspace. The command...

rexray start

...fails with the error "no storage drivers initialized".

I solved the problem by creating a symlink /usr/bin/xenstore-read that points to the /usr/sbin/xenstore-read file. It would be good to check both locations for xenstore-read in future versions of rexray.

[2016-07-05 20:32] kacole2 commented on #489
@mexuar-admin can you rename the title of the issue to be more in line with the enhancement request? Such as `creating a symlink for xenstore-read on OpenStack`

thanks!

[2016-07-05 20:34] kacole2 commented on #468
@jvanns any updates here? if this is solved, please close it out. thanks!

[2016-07-06 04:29] cduchesne opened #490 "performance degradation with rexray 0.4.0 when compared to 0.3.3"
Using REX-Ray  0.4.0, I have noticed that performance is much slower than with REX-Ray 0.3.3. In the case of listing volumes, performance slows down significantly as quantity of volumes on the storage system go up. I have only tested with ScaleIO, so I am not certain if this is the case with other drivers as of yet. Below are a couple of scenarios that I have tested to highlight the issue. Of the

[2016-07-06 10:44] akamalov commented on #469
@cduchesne , Yes it is still happening. Will it be possible to have a desktop share today? Please let me know when you can and I'll provide WebEx link.

Thanks yet again!

[2016-07-06 12:43] akutz commented on #490
It's not a regression since it never occurred before, please retitle. I've looked at this quite a bit and it's due to the multiple marshaling and unmarshaling steps that now occurs. I hope once I switch to channels and disable the buffering side-effects it will no longer occur.

--
-a

[2016-07-06 15:02] akutz commented on #490
@cduchesne What I failed to capture in my reply via e-mail was that yes, this is a very nicely put together diagnosis. I do appreciate it, so thank you. Honestly, what I'd like to see if possible is two Vagrant files, where one uses RR 0.3.3 and one uses RR 0.4.0 to perform the same set of ops you listed above. That way we can easily reproduce the steps to detect the slow-down.

I'm going to injec

[2016-07-06 15:07] cduchesne commented on #469
@akamalov - I am open from 9am to 12pm PST if there is a time in there that works best for you

[2016-07-06 15:09] akutz commented on #490
@cduchesne You're a man after my own heart.

[2016-07-06 15:12] cduchesne commented on #490
I will certainly try to put this together in a Vagrantfile so it is comparable. I will probably stat with the virtualbox drivers and see it too is slower, as it would be a lot easier to test against.

@clintonskitson: i will do that when I create the vagrant files. I didn't see the API calls that allow mount/unmount operations. And what do you mean by inspect? Is this documented somewhere? I was f

[2016-07-06 15:14] akutz commented on #490
Hi @cduchesne,

First of all, socat isn't needed. @clintonskitson just has this thing for it. It's shameful and dark and best left unmentioned. Hang on, I'll send you a link.

[2016-07-06 15:15] akutz commented on #490
Hi @cduchesne,

See issue #115 for examples using `curl`.

[2016-07-06 16:32] akamalov commented on #469
@cduchesne  Webex is up. Sent you email to your private email account.

[2016-07-06 17:48] akamalov commented on #469
Thanks so much to @cduchesne problem was solved!!! It had to do with how ScaleIO communicates and provisions the volumes. In essence, the communication with ScaleIO gateway happens over management network, while data provisioning happens over data plane. My mistake (very dumb, and it is embarrassing) that I though that both of these operations happen over management network. Once an interface crea

[2016-07-06 17:48] #469 closed

[2016-07-06 17:59] cduchesne commented on #490
@akutz are there actually examples at #115?

[2016-07-06 18:00] cduchesne commented on #469
@akamalov - any time... :)

[2016-07-06 18:00] akutz commented on #490
No. Not in this project. In [libStorage#115](https://github.com/emccode/libstorage/issues/115) there are :)

[2016-07-06 18:01] akutz commented on #490
I didn't realize this issue was filed in REX-Ray for some reason. Mea culpa.

[2016-07-06 20:59] akutz commented on #490
Closing with [libStorage PR \#218](https://github.com/emccode/libstorage/pull/218).

[2016-07-06 20:59] #490 closed

[2016-07-08 00:34] pdiniz13 commented on #258
is rexray supposed to be starting and stopping constantly. I am getting constant refreshes of the following

[code]

[2016-07-08 15:28] cduchesne commented on #258
can you try running the following?

[code]

My first thought is you may have invalid API credentials, or not have the right access, for aws in your rexray configuration. You should be able to check at /etc/rexray/config.yml

[2016-07-08 15:36] akutz commented on #258
Hi @pdiniz13,

By the way, no, it's not supposed to keep restarting. That means there is an error. I remember having a conversation with @clintonskitson about this subject at one point, and the recommendation was to continue to try and start the service even if it fails to start. I think my initial reaction was to fail fast if the service fails to start, but I believe @clintonskitson had some good

[2016-07-08 15:40] clintonskitson commented on #258
Different drivers depend on services like networking or kernel level drivers. Retrying can ensure that when those services are properly initialized that RR starts. It is a generic easy solution to the situation.

[2016-07-08 15:44] akutz commented on #258
Hi @clintonskitson,

Ah, right. I do believe though that the unit file has a section that sets up dependencies. In this case it depends on the Docker service which [depends on networking](https://docs.docker.com/engine/admin/systemd/):

[code]

We could easily add the same explicit dependency upon networking, although our dependency on Docker already ensures this (if Docker is present on the syste

[2016-07-08 17:46] pdiniz13 commented on #258
[code]

[2016-07-08 17:49] pdiniz13 commented on #258
Also i'm using DCOS on Azure, which looks like you guys don't support, and dont think i'm currently using rexray. For now the solution for me has been to simply stop the service. The problem is that given that rexray is being installed and started by DCOS, I have to stop rexray in every subsequent machine I add to the cluster.

[2016-07-08 17:56] pdiniz13 commented on #258
Also I don't know if this is related to this, but I am also getting an error with hv-fcopy-daemon.service. I also had issues with a couple of other ones but Installing linux-tools, and linux-cloud-tools solved the problem. The problem with hv-fcopy-daemon.service is that its not finding /dev/vmbus/hv_fcopy

[2016-07-09 01:07] #451 closed

[2016-07-09 01:22] akutz commented on #484
Closed with #492

[2016-07-09 01:22] #484 closed

[2016-07-09 01:23] akutz commented on #395
Hi @LudicrousSpeed,

Just so you know, the build process has been greatly enhanced to try and make things far speedier and more elegant. This was the first Makefile I ever wrote by hand -- usually using the autoconf suite. I've updated the Makefile to actually be, well, a Makefile, instead of what was basically a glorified script. I hope this helps! :)

[2016-07-11 18:34] akamalov commented on #469
Hey @cduchesne,

It looks like the problem has come back, even though networking portion has been corrected (as per last session). Here is the rundown:

1. Create 1GB volume:

[code]

2. Mount volume in a container on node4:

[code]
[code]
[code]

All is well, volume mounted, we exited the container.

[code]

Remove container:

[code]
Let's take a look if a volume is currently mounted:

[code]

EM

[2016-07-11 18:54] cduchesne commented on #469
I thought your scaleio data network was a 10.x network? I see 2 192.168 networks in your network list for node5. Is that not the case?

[2016-07-11 19:07] akamalov commented on #469
@cduchesne it is.. I just have mask it here because of public presence. But you're right.

[2016-07-11 19:13] cduchesne commented on #469
ohh got it.

well the sdc does show as disconnected

[code]

perhaps try service scini restart?

[2016-07-11 19:15] akamalov commented on #469
will do

[2016-07-11 19:20] akamalov commented on #469
Just did. The same result :(

Restarting scini:
[code]
Attempting to mount volume:

[code]

Re-running **sio_report**"

[code]

node5 - 192.168.120.165 still showing disconnected...

[2016-07-11 19:27] cduchesne commented on #469
hmm if you manually mapped it with scli, are you able to do anything with it? it seems to me like there is a network problem still. do you have time for a quick webex? send it my way

[2016-07-11 19:45] akamalov commented on #469
One moment. Generating WebEx session

[2016-07-11 19:48] akamalov commented on #469
Sent

[2016-07-11 20:11] akamalov commented on #469
@cduchesne - Thank You! Thank You! Thank you!!!

[2016-07-12 12:50] Oskoss commented on #451
@clintonskitson Question for you guys. This broke our code I noticed that you said

We use a separate volume manager for CloudFoundry and were using the RR docker volume plugins to manage multiple storage arrays. Is there any reason *not* to have this extra feature still in RR? As a work around we can still create our own spec files.

[2016-07-12 13:29] akutz commented on #451
I actually brought up your team as an objection to this, but ultimately Clint convinced me to remove it because he noted that if Docker detects both a local UNIX socket *and* a spec file that points to said UNIX socket, the overall performance is severely impacted as Docker will scan both as endpoints for volumes.

I agreed that the use case was an edge case and we'd simply document how to create

[2016-07-12 13:38] akutz commented on #451
By the way @Oskoss. How large of a deployment issue is this for your side. Does it cause a wide-spread issue to have to create the spec file manually? We're attempting to gauge the size of the problem this causes you. Our concern is the security implementation of exposing the Docker endpoint remotely. Now that we support distributed REX-Ray, the need for a remote Docker endpoint is basically absen

[2016-07-12 14:25] Oskoss commented on #451
@akutz Gotcha, I just changed around my rexray bosh deployment (whenever a CloudFoundry Admin tries to use EMC storage with CloudFoundry they use it!) to manually create the spec file. In essence a bosh deployment is a big script that deploys rexray and monitors it to make sure its running. Its not too big of a deal, just was super convenient to have and much prettier in golang rather than bash. I

[2016-07-12 14:30] alexei-led opened #502 "Run REX-Ray inside Docker container"
I'm trying to run REX-Ray inside Docker container. Some Linux OS either do not allow to install binaries (CoreOS) or reset everything after boot (boot2docker tinylinux)

Here is my command:

[code]

Dockerfile

[code]

When I install `rexray` (through `install` shell script) everything works fine, but running `rexray` inside above Docker container produces an error:

[code]

[2016-07-12 14:31] alexei-led commented on #502
I'm using `REX-Ray` 0.3.3, since latest versions still does not support `virtualbox` and `aws`

[2016-07-12 14:32] akutz commented on #502
Actually the latest versions shipped with Vbox support. No AWS yet though.

[2016-07-12 14:33] alexei-led commented on #502
Good to know. Will try it for `virtualbox`, which is good for development env. But I still need `aws` support for code running on AWS.

[2016-07-12 14:33] akutz commented on #502
I'd have to debug the 0.3.3 Vbox driver to see why it's throwing a nil exception there. Out of curiosity, is the Vbox web server running on the host in such a way the container has network access to it? The 0.3.3 driver may assume access is allowed and throws a panic if it isn't, as it assumes some variable is always non-nil. I didn't write it. I don't know without looking into it further in a few

[2016-07-12 14:34] akutz commented on #502
Hi @alexei-led,

I'm aware of how important AWS is. It's a high priority for us too.

[2016-07-12 14:35] alexei-led commented on #502
yes, I'm running vbox with `vboxwebsrv -H 0.0.0.0 -v -b` command
and when I run `rexray` not in Docker container, everything works just fine

[2016-07-12 14:38] akutz commented on #502
Hmm. So it's failing because of this line:

Which means it assumes `d.machine` is not nil. That gets set when the driver is initialized. It seems the driver does not initialize correctly inside a container. I cannot speculate as to why without looking further. However, honestly, I think time would be better spent porting EC2 to the new version :)

Hey @cduchesne, can you possibly take a stab at th

[2016-07-12 14:38] cduchesne commented on #502
@akutz - yeah i'll see what I can do on my side

[2016-07-12 14:39] akutz commented on #502
Hmm. Actually, come to think of it... The Mac address is *super* important for Vbox. It is how it identifies a thing.

[2016-07-12 14:40] akutz commented on #502
The container probably doesn't have a Mac address that is related to any network device about which the VBox manager is aware. Possibly because the container isn't a VBox VM :) That's likely why it is failing.

[2016-07-12 14:40] alexei-led commented on #502
Any workaround?

[2016-07-12 14:41] akutz commented on #502
No, because if I think about it...it doesn't actually make a lot of sense to run REX-Ray inside a container. Right? The goal is to make persistent storage available to the container runtime's host in order to provide it to containers. Running inside a container means...what?

[2016-07-12 14:44] akutz commented on #502
To do that you'd need REX-Ray running inside a container to basically know it's in a container and then perform/proxy all ops to the outside host. So if you want storage, it would actually act on behalf of the host and attach storage to the host and then make it available to the container. I don't know offhand if you can hotplug storage to a running container, I only ever do it when I launch the c

[2016-07-12 14:44] akutz commented on #502
@cduchesne, am I crazy?

[2016-07-12 14:46] alexei-led commented on #502
Means - I need somehow to install REX-Ray on host machine. For example, if I use CoreOS, the only way to install things is to run them in Docker container, otherwise CoreOS will remove everything non-Docker on next update/restart.
The same is true for Docker boot2docker Linux (default docker-machine OS)

[2016-07-12 14:47] akutz commented on #502
Well, we actually do support RR on CoreOS. It's even go special callouts in the [install script](https://github.com/emccode/rexray/blob/master/install#L60).

[2016-07-12 14:51] alexei-led commented on #502
Indeed. Will check this too (if it survives updates). Thank you.
What about boot2docker?

p.s.: I'm really impressed with your responsiveness guys! Thank you!

[2016-07-12 15:01] akutz commented on #502
Boot2Docker is Docker with a twist. So 1) we don't support RR inside Docker (today) or 2) on Darwin or Windows. Boot2Docker is only used on...Darwin and Windows :)

I think that (unfortunately) answers your question...

[2016-07-12 15:11] alexei-led commented on #502
Actually it's `docker-machine` that brings `boot2docker` VM. I think it will do so on any OS.
So, if you "play" with Swarm on your dev machine and create small cluster (3 nodes), `docker-machine` is a helper tool that will make your life easier, but it will bring you a boot2docker image (by default)

[2016-07-12 15:14] akutz commented on #502
Oh dammit, I forgot it went more mainstreaam...

[2016-07-12 15:42] cduchesne commented on #502
@akutz - no you're not crazy - i too don't think rexray running inside a container is the greatest idea, but hey... to each his/her own

[2016-07-12 15:44] cduchesne commented on #502
@alexei-led: what does your config file look like? I was able to create a docker container running rexray 0.3.3 with the following config
[code]
When rexray runs inside a container it won't be able to auto identify it's localMachineNameOrld, or at least I don't think it  should.

[2016-07-12 18:32] alexei-led commented on #502
@cduchesne actually my config file looks pretty similar, beside `localMachineNameOrId`. I will add it and test.
What is the expected value for this parameter? Anything real or just some string?

And also I have another question: I've tried to run `rexray` without config file, passing everything through command line and also setting ENV variables. It looks like it does not work; `rexray` still expe

[2016-07-12 18:38] cduchesne commented on #502
$ VBoxManage list runningvms
"rexray_testing_node0_1467991481851_83278" {849b1829-1de7-4262-9796-88ea9d0495b5}

It tells which the VirtualBox API which virtual machine to attach drives to

[2016-07-12 18:39] cduchesne commented on #502
@alexei-led I haven't tested running from command-line only and no config file. I'll see what I can find

[2016-07-12 22:34] #466 closed

[2016-07-13 15:44] alexei-led commented on #502
After adding `localMachineNameOrId`, I can create and list volumes, but not to mount volume.

Running:
[code]
This is the error I'm getting
[code]
docker run -d -t \
    --privileged \
    -e REXRAY_STORAGEDRIVERS=virtualbox \
    -e REXRAY_LOGLEVEL=debug \
    -e VIRTUALBOX_ENDPOINT=http://10.0.2.2:18083 \
    -e VIRTUALBOX_CONTROLLERNAME=SATA \
    -e VIRTUALBOX_VOLUMEPATH=${HOME}/.rexray/volume